@*@inherits umbraco.MacroEngines.DynamicNodeContext

@using umbraco.BusinessLogic
@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.packager*@


<style>
    table.viewemail {
        /*margin: 6px auto;*/
        padding: 30px;
        /*border: 2px solid #e8e8e8;*/
    }

        table.viewemail th {
            color: #424242;
            font-size: 20px;
            width: 100%;
        }

        table.viewemail tr td {
            float: left;
            color: #424242;
            font-size: 12px;
        }

    td.email {
        float: left;
        padding: 10px;
        font-weight: bold;
    }
</style>


<table class="viewemail" style="width:100%">
    <thead>
        <tr>
            <th>View Subscribers</th>
        </tr>
    </thead>
    <tbody id="tblSubscribers">
    </tbody>
</table>


<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '/umbraco/surface/NewsletterSurface/GetSubscriptionEmails',
            type: "POST",
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var subscribers = jQuery.parseJSON(JSON.stringify(data));

                $.each(subscribers, function (i, o) {
                    //alert(o);
                    var element = '<tr><td class="email">{{SRNO}}</td><td class="email">{{EMAIL}}</td></tr>'
                    element = element.replace("{{SRNO}}", i + 1);
                    element = element.replace("{{EMAIL}}", o);

                    $("#tblSubscribers").append(element);
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.statusText);
            }
        });
    });
</script>