﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        //This function checks if fields are valid or not. If not it changes the backgroung color input fields to red.
        //This function checks if check box is checked or not.
        $('#btnSubmit').click(function (event) {

            $('#btnSubmit').css('background-color', 'transparent');
            $('#btnSubmit').css('color', 'black');

            $('#myForm').trigger('validate');
            if ($(".error").length > 0) {
                event.preventDefault();
                return false;
            }
            if ($('#cbTerms:checked').length > 0) {               

                var objContactForm = new Object();
                objContactForm.strEnquryType = $('#ddlEnqueryType').val();
                objContactForm.strname = $('#txtName').val();
                objContactForm.strEmail = $('#txtEmail').val();
                objContactForm.strPhone = $('#txtPhone').val();
                objContactForm.strCustomerType = $('#ddlCustomerType').val();
                objContactForm.strEnquiryDetails = $('#txtEnqueryDetails').val();

                objContactForm.recaptcha_response_field = $('#txtCaptchResponse').val();
             
                $.ajax({
                    url: '/umbraco/surface/PageEventsSurface/contactUsBtnSubmit_Clicked',
                    type: "post",
                    data: objContactForm,
                    datatype: 'json',
                    contenttype: 'application/json; charset=utf-8',

                    success: function (status) {
                        if (status == 'true') {
                            $('#myForm')[0].reset();
                            //reset dropdown
                            ($('.current')).first().html('Select an enquiry type');
                            ($('.current')).last().html('Select a customer type');
                            $('.selected').removeClass('selected');
                            $('.disabled').addClass('selected');


                            $('#formSuccess').click();
                            $('#chkSpan').click();
                            $('#cbTerms').prop('checked', false);
                            createCaptcha();
                        }
                        else if (status == 'InvalidCaptcha')
                        {
                            createCaptcha();
                            $('#formInvalidCaptcha').click();
                        }
                        else {
                            $('#formFailed').click();
                        }                       
                    },

                    error: function (xhr, ajaxoptions, thrownerror) {
                        alert(xhr.statustext);
                    }
                });
            } else {
                $('#acceptTerms').click();
                //alert('Please read and agree to Terms and conditions before you continue.');
            }
            event.preventDefault();
            return false;
        });
    });
</script>
<!-- Slider with info bg1 -->
<div class="tile sliderWithInfo textured bg1">
    <div class="row">
        <div class="large-12 columns">
            <div class="row">
                <div class="large-6 large-centered columns">
                    <center><h2>@Umbraco.Field("salesTeamHeading")</h2></center>
                </div>
            </div>
        </div>
        <div class="large-12 columns">
            @{
                List<umbraco.NodeFactory.Node> salesTeamMembers = null;
            }
            <div class="flexslider">
                <ul class="slides">
                    @{
                        //Get Nodes for catalog
                        salesTeamMembers = umbraco.uQuery.GetNodesByType("salesTeamMember").OrderBy(obj => obj.GetProperty("firstName").Value).ToList();

                        foreach (umbraco.NodeFactory.Node salesTeamMember in salesTeamMembers)
                        {
                            string imageUrl = salesTeamMember.GetProperty("memberImage").Value + ".ashx?width=250&height=250&mode=crop&crop=auto&anchor=middlecenter&scale=both";
                        <li class="item" data-item-num="@salesTeamMember.Id">
                            <img src='@imageUrl' alt="">
                        </li>                   
                        }
                    }
                </ul>
            </div>
            @{
                foreach (umbraco.NodeFactory.Node salesTeamMember in salesTeamMembers)
                {
                    //remove short cut and '-' from location name
                    string strLocation = salesTeamMember.GetProperty("location").Value;
                    strLocation = strLocation.IndexOf('-') > 0 ? strLocation.Remove(0, strLocation.IndexOf('-') + 1) : strLocation;                    
                    
                <div class="itemInfo @salesTeamMember.Id">
                    <div class="itemInfoContain">
                        <i class="icon-remove closeInfo"></i>
                        <div class="itemInfoContent">
                            <center><h3>@salesTeamMember.GetProperty("firstName").Value @salesTeamMember.GetProperty("lastName").Value</h3></center>
                            <center><h4>@strLocation.Trim()</h4></center>
                            @Html.Raw(salesTeamMember.GetProperty("descriptionBio").Value)
                            <center>
					<div class="iconContain">
					<ul class="large-block-grid-2">
						<li><div class="custom-icon-phone customIcon"></div><span>@salesTeamMember.GetProperty("phoneNumber").Value</span></li>
						<li><div class="custom-icon-email customIcon"></div><span>@salesTeamMember.GetProperty("email").Value</span></li>
					</ul>
					</div>
					</center>
                        </div>

                    </div>
                </div>            
                }
            }

        </div>
    </div>
</div>

<div class="tile">
    <div class="row">
        <div class="large-5 large-centered columns">
            <h2>We'd Love To Hear From You</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <ul class="large-block-grid-2 iconInfo">
                <li>
                    <div class="row">
                        <div class="large-4 columns">
                            <img src="/images/icon-address.png" class="hide-for-small">
                        </div>
                        <div class="large-8 columns">
                            <h5>Address</h5>
                            <span class="infoDetails">@Umbraco.Field("contactAddressLine1")<br>
                                @Umbraco.Field("contactAddressLine2")<br>
                                @Umbraco.Field("contactAddressLine3")</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="large-4 columns">
                            <img src="/images/icon-email.png" class="hide-for-small">
                        </div>
                        <div class="large-8 columns">
                            <h5>Email</h5>
                            <span class="infoDetails">@Umbraco.Field("emailAddress")</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="large-4 columns">
                            <img src="/images/icon-phone.png" class="hide-for-small">
                        </div>
                        <div class="large-8 columns">
                            <h5>Phone</h5>
                            <span class="infoDetails">@Umbraco.Field("phoneNumber1")<br>
                                @Umbraco.Field("phoneNumber2")</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="large-4 columns">
                            <img src="/images/icon-faxx.png" class="hide-for-small">
                        </div>
                        <div class="large-8 columns">
                            <h5>Fax</h5>
                            <span class="infoDetails">@Umbraco.Field("faxNumber")</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="large-5 columns">
            <form data-abide class="contact custom" id="myForm">
                <div class="row">
                    <div class="large-6 columns">
                        <label for="ddlEnqueryType">Enquiry Type <span>*</span></label>
                        <select id="ddlEnqueryType" required>
                            <option disabled selected="selected" value="">Select an enquiry type</option>
                            <option value="General Enquiry">General Enquiry</option>
                            <option value="Sales Enquiry">Sales Enquiry</option>
                            <option value="Sample Request">Sample Request</option>
                        </select>
                    </div>
                    <div class="large-6 columns">
                        <div class="input-wrapper">
                            <label>Name <span>*</span></label>
                            <input id="txtName" type="text" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>Email Address <span>*</span></label>
                        <input id="txtEmail" type="email" required>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        <label>Phone <span>*</span></label>
                        <input id="txtPhone" type="text" required>
                    </div>
                    <div class="large-6 columns">
                        <label for="ddlCustomerType">Customer Type <span>*</span></label>
                        <select id="ddlCustomerType" required>
                            <option disabled selected="selected" value="">Select a customer type</option>
                            <option value="Retail">Retail</option>
                            <option value="Wholesale">Wholesale</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <label>Please type your enquiry</label>
                        <textarea id="txtEnqueryDetails" rows="24"></textarea>
                    </div>
                </div>
                  <div class="row">
                    <div class="large-12 columns">
                        <label>Please type the text from below image</label>
                        @Html.Partial("Captcha")
                    </div>
                </div>

@*                <div class="row">
                    <div class="large-12 columns">
                        <label>Captcha</label>

                    
                         <script type="text/javascript">
                            var RecaptchaOptions = {
                                theme: 'clean'
                            };
                        </script>
                        <script type="text/javascript"
                            src="http://www.google.com/recaptcha/api/challenge?k=6LdBrewSAAAAAEF0DYOecmYSoXJEAZix0O05_FpP">
                        </script>
                        
                        <noscript>
                            <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LdBrewSAAAAAEF0DYOecmYSoXJEAZix0O05_FpP"
                                height="300" width="500" frameborder="0"></iframe>
                            <br>
                            <textarea name="recaptcha_challenge_field" rows="3" cols="40">
       </textarea>
                            <input type="hidden" name="recaptcha_response_field"
                                value="manual_challenge">
                        </noscript>

                    </div>
                </div>*@


                <div class="row">
                    <div class="large-12 columns">
                        <div class="checkbox">
                            <input type="checkbox" id="cbTerms" style="display: none;" required>
                            <span id="chkSpan" class="custom checkbox"></span>
                            <span class="checkboxText">I agree to the <a data-rel="lightcase" href="#terms">terms and conditions</a>
                            </span>
                            <small class="validation">Name is required and must be a string.</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <br>
                        <input type="submit" id="btnSubmit" class="primary button right"></input>
                    </div>
                </div>
                <div id="terms" style="display: none">@Umbraco.Field("termsConditions")</div>

                <a id="formSuccess" data-rel="lightcase" href="#divFormSuccess" style="display: none">success</a>
                <div id="divFormSuccess" style="display: none;">
                    <div class="thank-you-message-header">Thank You! </div>
                    <div class="thank-you-border-bottom"></div>
                    <div class="thank-you-message">Your details have been submitted successfully.</div>
                </div>

                <a id="acceptTerms" data-rel="lightcase" href="#divAccessTerms" style="display: none">success</a>
                <div id="divAccessTerms" style="display: none;">
                    <div class="thank-you-message-header">Terms and Conditions</div>
                    <div class="thank-you-border-bottom"></div>
                    <div class="thank-you-message">Please read and agree to the Terms and conditions before you continue.</div>
                </div>

                  <a id="formFailed" data-rel="lightcase" href="#divformFailed" style="display: none">success</a>
                <div id="divformFailed" style="display: none;">
                    <div class="thank-you-message-header">Sorry! </div>
                    <div class="thank-you-border-bottom"></div>
                    <div class="thank-you-message">Your details have not been submitted successfully.</div>
                </div>

                 <a id="formInvalidCaptcha" data-rel="lightcase" href="#divformInvalidCaptcha" style="display: none">success</a>
                <div id="divformInvalidCaptcha" style="display: none;">
                    <div class="thank-you-message-header">Error! </div>
                    <div class="thank-you-border-bottom"></div>
                    <div class="thank-you-message">Text does not match!</div>
                </div>

            </form>
        </div>
    </div>
</div>
