﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using umbraco.NodeFactory;
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";

    var lstChildNodes = Model.Content.Children.ToList();
    if (lstChildNodes != null && lstChildNodes.Count > 0)
    {
        lstChildNodes.RemoveAll(obj => obj.GetProperty("displayIndex") == null || string.IsNullOrEmpty(Convert.ToString(obj.GetProperty("displayIndex").Value)));
        var lstOrderedChildNodes = lstChildNodes.OrderBy(obj => Convert.ToInt32(obj.GetProperty("displayIndex").Value));

        foreach (var panelContent in lstOrderedChildNodes)
        {
            umbraco.NodeFactory.Node panelNode = new umbraco.NodeFactory.Node(Convert.ToInt32(panelContent.Id));
            if (panelNode != null)
            {
                var partialViewName = SandhurstWebSite.Helper.Common.GetPartialViewNameByDocTypeAlias(panelNode.NodeTypeAlias);
            
                @Html.Partial(partialViewName, panelNode)        
            }
        }
    }
}

@*<style type="text/css">
    .bjqs-controls a {
        top: -124px;
    }

    ol.bjqs-markers.h-centered {
        margin-top: -90px;
    }
</style>*@
<script type="text/javascript">
    $(document).ready(function () {
        $('.tile').filter(function (index) {
            return (index == 0 || (index % 3) == 1)
        })

        $('.tile').filter(function (index) {
            return (index % 3) == 2
        }).addClass('textured').addClass('bg1');

        $('.tile').filter(function (index) {
            return (index != 0 && (index % 3) == 0)
        }).addClass('textured').addClass('bg2');
    });
</script>
