﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using umbraco.NodeFactory;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    // fetch filter items from umbraco
    var rangeList = uQuery.GetNodesByType("ProductRange").OrderBy(x => x.Name).ToList();
    var cuisineTypeList = uQuery.GetNodesByType("ProductCuisineType").OrderBy(x => x.Name).ToList();
    var productTypeList = uQuery.GetNodesByType("ProductType").OrderBy(x => x.Name).ToList();
    var packagingTypeList = uQuery.GetNodesByType("ProductPackage").OrderBy(x => x.Name).ToList();
}

<input type="hidden" id="templateName" value="Range" />
<div class="tile range">
    <!-- Filters -->
    <div data-magellan-expedition="fixed">
        <div class="row ">
            <div class="large-12 columns noBG">

                <div class="">
                    <div class="large-6 columns">
                        <form class="custom sort">
                            <div class="large-6 columns">
                                <select id="customDropdown1" class="large customSort">
                                    <option selected>Name (A-Z)</option>
                                    <option>Name (Z-A)</option>
                                    <option>Weight (low to high)</option>
                                    <option>Weight (high to low)</option>
                                </select>
                            </div>
                            <div class="large-6 columns"></div>
                        </form>
                    </div>
                </div>
                <div class="filterTrigger">
                    <a href="#" class="button">Filter Products <i class="icon-angle-down"></i></a>
                </div>

                <div class="drawer"></div>

                <div class="filters">
                    <div class="filtersInner">
                        <form class="custom">
                            <div class="row">
                                @{
                                    // product type filter
                                    if (productTypeList != null && productTypeList.Count > 0)
                                    {
                                        <div class="large-3 columns">
                                            <h5>Product Type</h5>
                                            <ul class="filtersList large-block-grid-2 small-block-grid-1">
                                                @foreach (var productTypeItem in productTypeList)
                                                {
                                                    <li class="checkFilters" data-attr="@productTypeItem.Id" data-type="ProductType">
                                                        <label for="@productTypeItem.Id">
                                                            <input type="checkbox" id="@productTypeItem.Id" style="display: none;">
                                                            <span class="custom checkbox"></span><span class="filterText">@productTypeItem.Name</span>
                                                        </label>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                    
                                    // cuisine type filter
                                    if (cuisineTypeList != null && cuisineTypeList.Count > 0)
                                    {
                                        <div class="large-3 columns">
                                            <h5>Cuisine Type</h5>
                                            <ul class="filtersList large-block-grid-2 small-block-grid-1">
                                                @foreach (var cuisineTypeItem in cuisineTypeList)
                                                {
                                                    <li class="checkFilters" data-attr="@cuisineTypeItem.Id" data-type="CuisineType">
                                                        <label for="@cuisineTypeItem.Id">
                                                            <input type="checkbox" id="@cuisineTypeItem.Id" style="display: none;">
                                                            <span class="custom checkbox"></span><span class="filterText">@cuisineTypeItem.Name</span>
                                                        </label>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                    
                                    // product range filter
                                    if (rangeList != null && rangeList.Count > 0)
                                    {
                                        <div class="large-3 columns">
                                            <h5>Brand</h5>
                                            <ul class="filtersList large-block-grid-2 small-block-grid-1">
                                                @foreach (var item in rangeList)
                                                {
                                                    <li class="checkFilters" data-attr="@item.Id" data-type="ProductRange">
                                                        <label for="@item.Id">
                                                            <input type="checkbox" id="@item.Id" style="display: none;">
                                                            <span class="custom checkbox"></span><span class="filterText">@item.Name</span>
                                                        </label>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }

                                    // packaging Type filter
                                    if (packagingTypeList != null && packagingTypeList.Count > 0)
                                    {
                                        <div class="large-3 columns">
                                            <h5>Packaging Type</h5>
                                            <ul class="filtersList large-block-grid-2 small-block-grid-1">
                                                @foreach (var packagingTypeItem in packagingTypeList)
                                                {
                                                    <li class="checkFilters" data-attr="@packagingTypeItem.Id" data-type="PackagingType">
                                                        <label for="@packagingTypeItem.Id">
                                                            <input type="checkbox" id="@packagingTypeItem.Id" style="display: none;">
                                                            <span class="custom checkbox"></span><span class="filterText">@packagingTypeItem.Name</span>
                                                        </label>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                }
                            </div>
                        </form>
                    </div>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <h5 class="reset activeHead">Active Filters:</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-9 columns">
                                <ul class="activeFilters large-block-grid-4">
                                </ul>
                            </div>
                            <div class="large-3 columns">
                                <a href="#" class="reset resetBtn">Clear Filters <i class="icon-remove-sign"></i></a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Products -->
    <div class="row">
        <div class="large-12 columns">
            <div class="row">
                <div class="large-12 columns">
                    <ul class="large-block-grid-4 small-block-grid-2 products">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>