﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tile">
    <div class="row">
        <div class="large-6 columns">
            <div class="row">
                <div class="large-8 large-centered columns">
                    <center><h2>For Something Extra</h2></center>
                </div>
            </div>
            @Umbraco.Field("bodyCopy")
        </div>
        <div class="large-6 columns">
            @{
                var imageUrl = Model.Content.GetPropertyValue<string>("orderFormImage");
                
                if (string.IsNullOrEmpty(imageUrl))
                {
                    <img src="http://placehold.it/500x300&text=No+Image" alt="" class="contentImage" />
                }
                else
                {
                    imageUrl += ".ashx?width=470&mode=crop&crop=auto&anchor=middlecenter&scale=both";
                    <img src="@imageUrl" alt="" class="contentImage" style="width:500px;" />
                }
            }
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <a href="@Umbraco.Field("orderFormDownload")" class="tileCTA" target="_blank">Download an order form <i class="icon-download-alt"></i></a>
        </div>
    </div>
</div>