﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using umbraco.NodeFactory;
@using SandhurstWebSite.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using uComponents.DataTypes.UrlPicker.Dto;
@{        
    // get image slider items
    List<ImageSlide> imageSlider = new List<ImageSlide>();
    for (int i = 1; i <= 5; i++)
    {
        if (!string.IsNullOrEmpty(Model.Content.GetPropertyValue<string>("typeOfSlide" + i.ToString()))
                && !string.IsNullOrEmpty(Model.Content.GetPropertyValue<string>("titleOfSlide" + i.ToString()))
                && !string.IsNullOrEmpty(Model.Content.GetPropertyValue<string>("descriptionOfSlide" + i.ToString()))
                && Model.Content.GetPropertyValue<UrlPickerState>("cTAButtonLink" + i.ToString()) != null
                && Model.Content.HasValue("backgroundImageOfSlider" + i.ToString()))
        {
            var urlPicker = Model.Content.GetPropertyValue<UrlPickerState>("cTAButtonLink" + i.ToString());
            if (urlPicker != null)
            {
                var pickerMode = urlPicker.Mode;
                var urlPickerLinkTarget = string.Empty;

                string pickerUrl = urlPicker.Url;
                if (pickerMode == uComponents.DataTypes.UrlPicker.UrlPickerMode.URL)
                {
                    if (!pickerUrl.Contains("http://"))
                    {
                        pickerUrl = "http://" + pickerUrl;
                    }
                    urlPickerLinkTarget = "_blank";
                }

                string imageUrl = string.Empty;
                if (Model.Content.HasValue("backgroundImageOfSlider" + i.ToString()))
                {
                    //var typedMultiNodeTreePicker = new Umbraco.Core.Dynamics.DynamicXml(Model.Content.GetPropertyValue<string>("backgroundImageOfSlider" + i.ToString()));

                    //imageUrl = SandhurstWebSite.Helper.Common.GetImageUrl(typedMultiNodeTreePicker.InnerText);
                    imageUrl = Model.Content.GetPropertyValue<string>("backgroundImageOfSlider" + i.ToString());
                }
                else
                {
                    imageUrl = "/images/hero_001.jpg";
                }


                // add items to imageslider list
                imageSlider.Add(new ImageSlide
                {
                    TypeOfSlide = Model.Content.GetPropertyValue<string>("typeOfSlide" + i.ToString()),
                    TitleOfSlide = Model.Content.GetPropertyValue<string>("titleOfSlide" + i.ToString()),
                    DescriptionOfSlide = Model.Content.GetPropertyValue<string>("descriptionOfSlide" + i.ToString()),
                    CTAButtonLink = pickerUrl,
                    CTAButtonLinkNewWindow = urlPickerLinkTarget,
                    BackgroundImageOfSlider = imageUrl + ".ashx?width=1280&height=575&mode=crop&crop=auto&anchor=topcenter&scale=both"
                });
            }
        }
    }
}
<ul class="orbit" data-orbit data-options="timer: false; bullets:true; animation: 'fade';">
    @if (imageSlider != null && imageSlider.Count > 0)
    {
        foreach (var item in imageSlider)
        {
        <li style="background-image: url(@item.BackgroundImageOfSlider);">
            <div class="row">
                <div class="large-7 columns large-centered" style="width: 90% !important;">
                    <center>
							<div class="frontTitle">
								<h5>@item.TypeOfSlide</h5>
								<h1>@item.TitleOfSlide</h1>
								@Html.Raw(item.DescriptionOfSlide)
                                 
                                @if (item.TypeOfSlide.Contains("Recipe"))
                                {
                                <a href="@item.CTAButtonLink" class="button">View Recipe <i class="icon-angle-right"></i></a>
                                }
                                else if (item.TypeOfSlide.Contains("Product"))
                                {
                                <a href="@item.CTAButtonLink" class="button">View Product <i class="icon-angle-right"></i></a>
                                }
                                 else 
                                {
                                <a href="@item.CTAButtonLink" class="button" target="@item.CTAButtonLinkNewWindow">View Campaign <i class="icon-angle-right"></i></a>
                                }
							</div>
						</center>
                </div>
            </div>
        </li>
        }
    }
</ul>

<div class="tile textured bg1">
    <div class="row">
        <div class="large-4 columns">
            <center>
                <div class="frontTitle range">
                    <h5 class="lowerTitle">Our</h5>
                    <h1>Range</h1>
                    @Html.Raw(Umbraco.Field("rangePanelDescription"))
                    <a href="/our-range/ranges/full-range/" class="button">View Full Range <i class="icon-angle-right"></i></a>
                </div>
            </center>
        </div>
        <div class="large-8 columns">
            <ul class="large-block-grid-2 small-block-grid-1 circleProducts">
                @{
                    var productRanges = uQuery.GetNodesByType("ProductRange").ToList().OrderByDescending(x => x.CreateDate).Take(4);

                    if(productRanges != null && productRanges.Count() > 0)
                    {
                        foreach (var item in productRanges)
                        {
                        <li>
                            <a href="@item.Url">
                                <center>
								    <div class="circle">
									     @{
                                            if (!string.IsNullOrEmpty(item.GetProperty<string>("rangeImage")))
                                            {
                                                var imageUrl = item.GetProperty<string>("rangeImage") + ".ashx?width=120&height=120&mode=crop&crop=auto&anchor=middlecenter&scale=both";
                                                @*<img src="@item.GetProperty("rangeImage").Value" style="width:185px;height:185px;">*@
                                                <img src="@imageUrl" style="margin-top: 32px;" />
                                            }
                                            else
                                            {
                                                <img src="images/product.png" />
                                            }
                                         }
								    </div> 
								    <h4>@item.Name</h4>
							    </center>
                            </a>
                        </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
</div>

<div class="tile textured bg3">
    <div class="row">
        <div class="large-8 columns large-centered">
            <center>
                <div class="frontTitle">
                    <h5>About</h5>
                    <h1>Sandhurst</h1>
                    @Umbraco.Field("aboutSandhurstDescription")
                </div>
                <a href="/about/our-story/" class="button">Find Out More <i class="icon-angle-right"></i></a>
            </center>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var imageSliderCount = '@imageSlider.Count';

        if (imageSliderCount == 1) {
            $('.orbit-prev').hide();
            $('.orbit-next').hide();
        }
        else {
            $('.orbit-prev').show();
            $('.orbit-next').show();
        }
    });
</script>
