﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tile textured bg1">
    <div class="row">
        <div class="large-7 columns large-centered">
            <h2>Subscribe to our newsletter</h2>
            <center>@Umbraco.Field("newsletterSubscribeDescription")</center>
        </div>
        <form id="frmSubscribe" data-abide class="custom offer">
            <div class="row">
                <div class="large-5 large-centered columns">
                    <div class="input-wrapper">
                        <label>Email Address</label>
                        <input type="email" id="txtEmail" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-5 large-centered columns newsletter">
                    <div class="checkboxContain">
                        <input type="checkbox" id="cbTerms" style="display: none;" required>
                        <span id="chkSpan" class="custom checkbox"></span>
                        <span class="checkboxText">I agree to the <a data-rel="lightcase" href="#collection">collection statement</a> & <a data-rel="lightcase" href="#privacy">privacy policy</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-5 large-centered columns">
                    <input type="submit" id="btnSubmit" class="primary button right" />
                </div>
            </div>
        </form>
    </div>

</div>
@{ 
    var newsletterList = Model.Content.Children.ToList().OrderByDescending(x => x.CreateDate).ToList();

    var totalNewsletter = newsletterList.Count;
    var newsletterToBeShownCount = 6;

    newsletterList = newsletterList.Take(newsletterToBeShownCount).ToList();
}
<div class="filters" style="display:none;"></div>
<div class="row">
    <div class="large-10 columns large-centered">
        <ul class="newsletters fade">
            @if (newsletterList != null && newsletterList.Count > 0)
            {
                foreach (var item in newsletterList)
                {
                <li>
                    <h2>@item.GetProperty("newsletterTitle").Value</h2>
                    @Html.Raw(item.GetProperty("newsletterDescription").Value)
                    @*<a href="@SandhurstWebSite.Helper.Common.GetImageUrl(Convert.ToString(item.GetProperty("newsletterFile").Value))" class="tileCTA" target="_blank">Download a copy of this newsletter <i class="icon-download-alt"></i></a>*@
                    <a href="@item.GetProperty("newsletterFile").Value" class="tileCTA" target="_blank">Download a copy of this newsletter <i class="icon-download-alt"></i></a>
                </li>
                }
            }
            else
            {
                <li>
                    <h2>No newsletters found</h2>
                </li>
            }
        </ul>
    </div>
</div>

<div id="privacy">
    <div class="lightbox">
        <div class="row">
            <div class="large-5 large-centered columns">
                <h2>Privacy Policy</h2>
            </div>
        </div>
        <div class="row">
            <div class="large-8 large-centered columns">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="lightboxWords">
                <div class="large-8 large-centered columns">
                    @Umbraco.Field("privacyPolicy")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-8 large-centered columns">
                <hr>
            </div>
        </div>
    </div>
</div>
<div id="collection">
    <div class="lightbox">
        <div class="row">
            <div class="large-5 large-centered columns">
                <h2>Collection Statement</h2>
            </div>
        </div>
        <div class="row">
            <div class="large-8 large-centered columns">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="lightboxWords">
                <div class="large-8 large-centered columns">
                    @Umbraco.Field("collectionStatement")
                </div>
            </div>
        </div>
    </div>
</div>

<div id="successMessage" style="display: none;">
    <div class="thank-you-message-header"></div>
    <div class="thank-you-border-bottom"></div>
    <div class="thank-you-message"></div>
</div>
<a id="formSuccess" data-rel="lightcase" href="#successMessage" style="display: none;">success</a>


<script type="text/javascript">
    $(document).ready(function () {
        var totalNewsletterCount = '@totalNewsletter';
        var startIndex = 0
        var newsletterToBeShownCount = '@newsletterToBeShownCount';

        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= ($(document).height() - 400)) {

                startIndex = parseInt(startIndex) + parseInt(newsletterToBeShownCount);
                //console.log('startIndex = ' + startIndex + ' totalNewsletterCount = ' + totalNewsletterCount);

                if (startIndex < totalNewsletterCount) {
                    //startIndex = parseInt(startIndex) + parseInt(newsletterToBeShownCount);
                    startLoad();

                    $.ajax({
                        url: '/umbraco/surface/NewsletterSurface/GetNewsletters',
                        type: "POST",
                        data: "{'startIndex':" + startIndex + ", 'itemCount':" + newsletterToBeShownCount + "}",
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            var newsletters = jQuery.parseJSON(JSON.stringify(data));

                            if (newsletters.length > 0) {
                                $.each(newsletters, function (i, o) {

                                    var element = '<li><h2>{{TITLE}}</h2>{{DESCRIPTION}}<a href="{{FILE}}" class="tileCTA" target="_blank">Download a copy of this newsletter <i class="icon-download-alt"></i></a></li>'
                                    element = element.replace("{{TITLE}}", o["NewsletterTitle"]);
                                    element = element.replace("{{DESCRIPTION}}", o["NewsletterDescription"]);
                                    element = element.replace("{{FILE}}", o["NewsletterFile"]);

                                    $("ul.newsletters").append(element);
                                });
                            }
                            else {
                                $("ul.newsletters").append('<li><h2>No newsletters found</h2></li>');
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(xhr.statusText);
                        }
                    });

                    loadDone();
                }
                else {
                    return;
                }
            }
        });

        $('#btnSubmit').click(function (event) {            
            $('#frmSubscribe').trigger('validate');
            if ($(".error").length > 0) {
                return false;
            }
            
            if ($('#cbTerms:checked').length <= 0) {
                $('#cbTerms').focus();

                $(".thank-you-message-header").html("Privacy Policy");
                $(".thank-you-message").html("Please read and agree to the collection statement & privacy policy before you continue.");
                $('#formSuccess').click();

                return false;
            }

            var email = $('#txtEmail').val();
            var arrayobj = { 'email': email }; // data to be passed to ajax call

            // remove html of success popup
            $(".thank-you-message-header").html("");
            $(".thank-you-message").html("");

            $.ajax({
                url: '/umbraco/surface/NewsletterSurface/SubscribeNewsLetter',
                type: "POST",
                data: JSON.stringify(arrayobj),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data == "Email Added") {
                        $('#txtEmail').val("");
                        $('#cbTerms').prop('checked', false);
                        $('#chkSpan').removeClass('checked');

                        $(".thank-you-message-header").html("Thank You!");
                        $(".thank-you-message").html("You have successfully subscribed to the newsletter.");
                        $('#formSuccess').click();
                    }
                    else if (data == "Email Exist") {
                        $('#txtEmail').focus();

                        $(".thank-you-message-header").html("Email Address Exists!");
                        $(".thank-you-message").html("You have already subscribed.");
                        $('#formSuccess').click();
                    }
                    else if (data == "Invalid Email") {
                        $('#txtEmail').focus();

                        $(".thank-you-message-header").html("Email Address");
                        $(".thank-you-message").html("Please enter valid email address.");
                        $('#formSuccess').click();
                    }
                    else {
                        $('#txtEmail').focus();

                        $(".thank-you-message-header").html("Sorry!");
                        $(".thank-you-message").html("Please try again.");
                        $('#formSuccess').click();
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.statusText);
                }
            });

            event.preventDefault();
            return false;
        });
    });
</script>
