﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/raphael.js"></script>
<script src="~/Scripts/mapsvg.js"></script>

<div class="tile noBottom sortTile show-for-small distributorLocation">
    <div class="row">
        <div class="large-6 columns withDivider">
            <form class="custom sort">
                <div class="large-4 columns">
                    <label for="customDropdown" class="right inline">Distributors in:</label>
                </div>
                <div class="large-8 columns">
                    <select id="customDropdown" class="large">
                        <option selected>Choose a location</option>
                        <optgroup label="Australian Distributors">
                            <option>NSW</option>
                            <option>ACT</option>
                            <option>QLD</option>
                            <option>SA</option>
                            <option>WA</option>
                            <option>TAS</option>
                            <option>NT</option>
                        </optgroup>
                        <optgroup label="Other Distributors">
                            <option>International Distributors</option>
                        </optgroup>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="tile noBottom hide-for-small">

    <div class="row">
        <input type="hidden" id="hdnLocation" />
        <div class="large-5 columns">
            <div class="row">
                <div class="large-10 columns large-centered">
                    <h2>Browse by State</h2>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <div id="map"></div>
                </div>
            </div>

        </div>
        <div class="large-2 columns">
            <center><img src="~/images/vert_or.png"></center>
        </div>
        <div class="large-5 columns">
            <div class="row">
                <div class="large-10 columns large-centered">
                    <h2>Browse International</h2>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <center><div class="internationalMap"></div></center>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // Distributors map
    $('#map').mapSvg({
        source: '/maps/australia.svg',    // Path to SVG map
        colors: {
            base: "#fff",
            background: "transparent",
            hover: "#cd353d",
            selected: "#cd353d",
            disabled: "#ffffff",
            stroke: "#4a4949",
        },
        width: 540,
        responsive: true,
        onClick: function (event, mapsvg) {

            if (this.mapsvg_type == 'mark') {
                var location = this.attr('src').split('/');
                location = location[2].split('.');

                $('.internationalMap').css("background-image", "url('/images/international.png')");
                $('.internationalMap').css("background-position", "0 0");

                $('#hdnLocation').val(location[0]);
            }
            else {
                var location = this.node.id.split('-');

                $('.internationalMap').css("background-image", "url('/images/international.png')");
                $('.internationalMap').css("background-position", "0 0");

                $('#hdnLocation').val(location[0]);
            }
            
            GetDistributors();
        },
        //mouseOut: function (event, mapsvg) {
        //    this.attr({ fill: '#ffffff' })
        //},
        marks: [
                     {
                         xy: [55, 100],
                         attrs: {
                             src: '/images/wa.png',
                             id: 'WA'
                         }
                     },
                     {
                         xy: [134, 65],
                         attrs: {
                             src: '/images/NT.png',
                             id: 'NT'
                         }
                     },
                     {
                         xy: [204, 80],
                         attrs: {
                             src: '/images/QLD.png',
                             id: 'QLD'
                         }
                     },
                     {
                         xy: [214, 150],
                         attrs: {
                             src: '/images/NSW.png',
                             id: 'NSW'
                         }
                     },
                     {
                         xy: [194, 185],
                         attrs: {
                             src: '/images/VIC.png',
                             id: 'VIC'
                         }
                     },
                     {
                         xy: [244, 176],
                         attrs: {
                             src: '/images/ACT.png',
                             id: 'ACT'
                         }
                     },
                     {
                         xy: [218, 230],
                         attrs: {
                             src: '/images/TAS.png',
                             id: 'TAS'
                         }
                     },
                     {
                         xy: [143, 130],
                         attrs: {
                             src: '/images/SA.png',
                             id: 'SA'
                         }
                     }
        ]

    });
</script>

<div id="divSort" class="tile noBottom sortTile fade">
    <div class="row">
        <div class="large-12 columns">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <form class="custom sort">
                <div class="large-4 columns">
                    <label for="customDropdown1" class="right inline">Sort Results:</label>
                </div>
                <div class="large-8 columns">
                    <select id="customDropdown1" class="large">
                        <option selected>Name (A-Z)</option>
                        <option>Name (Z-A)</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <hr>
        </div>
    </div>
</div>

<div id="divLocationName" class="row fade">
    <div class="large-6 columns large-centered">
        <center><h3 class="subheader">Showing results in <strong>{{LOCATIONFULLNAME}}</strong></h3></center>
    </div>
</div>

<a id="#distributors"></a>
<div id="divDistibutorList" class="row">
    <div class="large-12 columns">
        <ul class="large-block-grid-4 small-block-grid-1 distributors fade">
        </ul>
    </div>
</div>

<div class="loading"><img src="~/images/loading.gif"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#divSort').hide();
        $('#divLocationName').hide();
        $('#divDistibutorList').hide();

        $('#customDropdown1').change(function () {
            GetDistributors();
        });

        $('.internationalMap').click(function () {
            $(this).css("background-image", "url('/images/international.png')");
            $(this).css("background-position", "0 166px");

            $('svg path').attr('fill', '#ffffff');

            $('#map').css("background-image", "none");
            $('#hdnLocation').val('international');
            GetDistributors();
        });
    });

    function GetDistributors() {
        $("ul.distributors").html("");
        var locationFullName = "";
        var sortValue = $('#customDropdown1').val();
        var location = $('#hdnLocation').val();

        var arrayobj = { 'location': location, 'sort': sortValue };

        startLoad();

        $.ajax({
            url: '/umbraco/surface/OurDistributorsSurface/GetDistributorList',
            type: "POST",
            data: JSON.stringify(arrayobj),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var distributors = jQuery.parseJSON(JSON.stringify(data));

                $.each(distributors, function (i, o) {
                    if (locationFullName == "")
                        locationFullName = o["LocationFullName"];

                    if (o["Name"] != null && o["PhoneNumber"] != null && o["Email"] != null && o["Website"] != null) {
                        var element = '<li><h4>{{NAME}}</h4><img src="/images/icons/phone-black.png"><span>{{PHONENUMBER}}</span><br><img src="/images/icons/email-black.png"><span>{{EMAILADDRESS}}</span><br><img src="/images/icons/icon-url-sm.png"><span><a href="{{WEBSITEURL}}" target="_blank">{{WEBSITE}}</a></span></li>'
                        element = element.replace("{{NAME}}", o["Name"]);
                        element = element.replace("{{PHONENUMBER}}", o["PhoneNumber"]);
                        element = element.replace("{{EMAILADDRESS}}", o["Email"]);
                        
                        var websiteURL = o["Website"];
                        if ((websiteURL.toLowerCase().indexOf("http://") <= -1) && (websiteURL.toLowerCase().indexOf("https://") <= -1))
                            websiteURL = "http://" + websiteURL;

                        element = element.replace("{{WEBSITEURL}}", websiteURL);
                        element = element.replace("{{WEBSITE}}", o["Website"]);

                        $("ul.distributors").append(element);
                    }
                });

                $('.subheader').html("Showing results in <strong>" + locationFullName + "</strong>");

                if (($('ul.distributors > li').length) <= 0)
                    $("ul.distributors").append('<li><span>No distributors found</span></li>');

                $('#divSort').show();
                $('#divLocationName').show();
                $('#divDistibutorList').show();

                loadDone();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.statusText);
            }
        });
    }
</script>