﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tile">
    <div class="row">
        <div class="large-8 large-centered columns">
            <h3 class="subheader">@Umbraco.Field("rangeDescription")</h3>
            @{
                if (Model.Content.Name.ToUpper().Contains("MUTTI"))
                {
                <div class="row">
                    <div class="large-11 large-centered small-centered columns">
                        <ul class="large-block-grid-2 small-block-grid-1 iconInfo">
                            <li>
                                <div class="row">
                                    <div class="large-4 columns">
                                        <img src="~/images/icon-australia.png">
                                    </div>
                                    <div class="large-8 columns">
                                        <h5>Mutti Australia Site</h5>
                                        <a href="http://www.muttiparma.com.au" class="download" target="_blank">www.muttiparma.com.au</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="large-4 columns">
                                        <img src="~/images/icon-italy.png">
                                    </div>
                                    <div class="large-8 columns">
                                        <h5>Mutti Italy Site</h5>
                                        <a href="http://www.mutti-parma.com" class="download" target="_blank">www.mutti-parma.com</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                }
            }

            <div class="doubleDivider" style="margin-top: 0px !important;"></div>
        </div>
    </div>
</div>

@{
    var productList = SandhurstWebSite.Helper.Common.GetProductsForRangeId(Model.Content.Id);

    var totalProducts = productList.Count;
    var productToBeShownCount = 12;

    productList = productList.Take(productToBeShownCount).ToList();
}

<div class="filters" style="display:none;"></div>

<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-12 columns">
                <ul class="large-block-grid-4 small-block-grid-2 products">
                    @if (productList != null && productList.Count > 0)
                    {
                        foreach (var item in productList)
                        {
                        <li><a href="@item.NiceUrl">
                            @if (string.IsNullOrEmpty(item.GetProperty("productImage").Value))
                            {
                                <img src="http://placehold.it/300x400&text=No+Image" />
                            }                            
                            else
                            {
                                string imageUrl = item.GetProperty("productImage").Value + ".ashx?width=228&height=303&mode=crop&crop=auto&anchor=middlecenter&scale=both"; 
                                
                                <img src="@imageUrl" class="productImage" />
                            }
                            
                            <h4 class="productTitle">@item.Name</h4>
                            <h5 class="subheader productWeight">@(item.GetProperty("productSizeQty").Value + item.GetProperty("productSizeUnit"))</h5>
                        </a></li>
                        }
                    }
                    else
                    {
                        <center><span class="noData">No products found</span></center>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var pageId = '@Model.Content.Id';
        var totalProductsCount = '@totalProducts';
        var startIndex = 0
        var productToBeShownCount = '@productToBeShownCount';

        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= ($(document).height() - 700)) {

                startIndex = parseInt(startIndex) + parseInt(productToBeShownCount);
                console.log('startIndex = ' + startIndex + ' totalProductsCount = ' + totalProductsCount);

                if (startIndex < totalProductsCount) {
                    startLoad();
                    $.ajax({
                        url: '/umbraco/surface/RangeSurface/GetRangeProductList',
                        type: "POST",
                        data: "{'startIndex':" + startIndex + ", 'itemCount':" + productToBeShownCount + ", 'pageId':" + pageId + "}",
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            var products = jQuery.parseJSON(JSON.stringify(data));
                            console.log(products);
                            console.log(products.length);

                            if (products.length > 0) {
                                $.each(products, function (i, o) {
                                    var element = '<li><a href="{{LINK}}"><img src="{{IMAGE}}.ashx?width=227&height=302&mode=crop&crop=auto&anchor=middlecenter&scale=both" class="productImage" /><h4 class="productTitle">{{TITLE}}</h4><h5 class="subheader productWeight">{{WEIGHT}}</h5></a></li>'
                                    element = element.replace("{{LINK}}", o["ProductLink"]);
                                    element = element.replace("{{IMAGE}}", o["ProductImage"]);
                                    element = element.replace("{{TITLE}}", o["ProductTitle"]);
                                    element = element.replace("{{WEIGHT}}", o["ProductSizeQty"]);

                                    $("ul.products").append(element);
                                });
                            }
                            else {
                                $("ul.products").append('<center><span class="noData">No products found</span></center>');
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(xhr.statusText);
                        }
                    });
                    loadDone();
                }
                else {
                    return;
                }
            }
        });
    });
</script>
