﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tile textured bg1">
    <div class="row">
        <div class="large-4 large-centered columns">
            <h2>New To Sandhurst</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-9 large-centered columns">
            <ul class="large-block-grid-3 small-block-grid-1 circleProducts">
                @{                    
                    
                    var products = SandhurstWebSite.Helper.Common.GetProdutsForRange("New To Sandhurst");
                    if (products != null)
                    {
                        var recentProducts = products.OrderByDescending(obj => obj.CreateDate).ToList();

                        //if product are more than 3 then show only 3 recent products, if total product less than 3 then show only that much product
                        int recentProductToBeDisplayed = recentProducts.Count >= 3 ? 3 : recentProducts.Count;
                        for (int count = 0; count < recentProductToBeDisplayed; count++)
                        {
                            var imageUrl = recentProducts[count].GetProperty("productImage").Value + ".ashx?width=120&height=120&mode=crop&crop=auto&anchor=middlecenter&scale=both";
                    <li>
                        <a href="@recentProducts[count].NiceUrl">
                            <center>
						        <div class="circle">
							        <div class="new"><span>New</span></div>                            
							        <img src='@imageUrl' style="margin-top: 32px;">
						        </div> 
						        <h4>@recentProducts[count].Name</h4>
					        </center>
                        </a>
                    </li>
                        }
                    }                
                }
            </ul>
        </div>
    </div>
</div>

<div id="productCatalogs" class="fade">
    @{
        var totalCatalog = 0;
        //Get Nodes for catalog        
        List<umbraco.NodeFactory.Node> catalogues = umbraco.uQuery.GetNodesByType("ProductCatalogueDetail").ToList().OrderByDescending(obj => obj.CreateDate).ToList();
        if (catalogues != null && catalogues.Count() > 0)
        {
            totalCatalog = catalogues.Count();
            for (int i = 0; i < 2; i++)//foreach (var catItem in catalogues)        
            {
                string imageSrc = catalogues[i].GetProperty("catalogueImage").Value + ".ashx?width=500&mode=crop&crop=auto&anchor=middlecenter&scale=both";
        <div class="tile">
            <div class="row">
                <div class="large-6 columns">
                    <div class="row">
                        <div class="large-8 large-centered columns">
                            <center><h2>@catalogues[i].GetProperty("catalogueName").Value</h2></center>
                        </div>
                    </div>
                    @Html.Raw(catalogues[i].GetProperty("catalogueDescription").Value)

                </div>
                <div class="large-6 columns">
                    <img src='@imageSrc' alt="" class="contentImage">@* style="width:470px;height:282px;"*@
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <a href='@catalogues[i].GetProperty("catalogueFile").Value' class="tileCTA" target="_blank">Download a copy of this catalogue <i class="icon-download-alt"></i></a>
                </div>
            </div>
        </div>
            }
        }
    }
</div>

<script type="text/javascript">

    var catTemplate = '<div class="catalogtemplate"><div class="tile"><div class="row"><div class="large-6 columns"><div class="row"><div class="large-8 large-centered columns"><center><h2>{{TITLE}}</h2></center></div></div><p>{{DESCRIPTION}}</p></div><div class="large-6 columns"><img src="{{IMAGEPATH}}" alt="" class="contentImage" ></div></div><div class="row"><div class="large-12 columns"><a href="{{FILEPATH}}" class="tileCTA" target="_blank">Download a copy of this catalogue <i class="icon-download-alt"></i></a></div></div></div></div>';
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var totalcat = '@totalCatalog';
        var startIndex = 0

        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() > ($(document).height() - 1000)) {
                startIndex = startIndex + 2;
                if (startIndex >= totalcat)
                    return;

                startLoad();
                $.ajax({
                    url: '/umbraco/surface/PageEventsSurface/getProductCatalog',
                    type: "POST",
                    data: "{'startIndex':" + startIndex + "}",
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',

                    success: function (status) {

                        var catalogs = jQuery.parseJSON(JSON.stringify(status));
                        //alert(catalogs);
                        $.each(catalogs, function (i, o) {
                            var element1 = catTemplate.replace("{{TITLE}}", o["catalogName"]);
                            element1 = element1.replace("{{DESCRIPTION}}", o["catalogDescription"]);
                            element1 = element1.replace("{{IMAGEPATH}}", o["catalogImagePath"] + ".ashx?width=500&mode=crop&crop=auto&anchor=middlecenter&scale=both");
                            element1 = element1.replace("{{FILEPATH}}", o["catalogFilePath"]);
                            var element = $('.catalogtemplate').first().clone().removeAttr("style");

                            $("#productCatalogs").append(element1);
                        });
                        loadDone();
                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.statusText);
                    }
                });
            }
        });
    });
</script>

<div class="filters" style="display: none;"></div>

<div class="productInfo">
    <div class="row">
        <div class="large-8 large-centered columns">
            <h2>Product Information Documents</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-10 large-centered columns">
            <ul class="large-block-grid-2 small-block-grid-1 iconInfo">
                <li>
                    <div class="row">
                        <div class="large-4 columns">
                            <img src="/images/logo_kosher.png" class="hide-for-small">
                        </div>
                        <div class="large-8 columns">
                            <h5>Sandhurst Kosher Products</h5>
                            <a href='@Umbraco.Field("sandhurstKosherProductsFile")' class="download" target="_blank">Download PDF <i class="icon-download-alt"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="large-4 columns">
                            <img src="/images/logo_halal.png" class="hide-for-small">
                        </div>
                        <div class="large-8 columns">
                            <h5>Sandhurst Halal Products</h5>
                            <a href='@Umbraco.Field("sandhurstHalalProductsFile")' class="download" target="_blank">Download PDF <i class="icon-download-alt"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="large-4 columns">
                            <img src="/images/logo_vegan.png" class="hide-for-small">
                        </div>
                        <div class="large-8 columns">
                            <h5>Sandhurst Vegan Products</h5>
                            <a href='@Umbraco.Field("sandhurstVeganProductsFile")' class="download" target="_blank">Download PDF <i class="icon-download-alt"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="large-4 columns">
                            <img src="/images/logo_gluten.png" class="hide-for-small">
                        </div>
                        <div class="large-8 columns">
                            <h5>Sandhurst Gluten Free Products</h5>
                            <a href='@Umbraco.Field("sandhurstGlutenFreeProductsFile")' class="download" target="_blank">Download PDF <i class="icon-download-alt"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
