﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using umbraco.NodeFactory;
@using System.Linq;
@using System.Xml;
@using System.Xml.Linq;
@using System.Text.RegularExpressions;
@using SandhurstWebSite.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var productCategory = uQuery.GetNodesByType("ProductCategory").ToList();
    string productImageUrl = Umbraco.Field("productImage") + ".ashx?width=303&mode=crop&crop=auto&anchor=middlecenter&scale=both";
}

@functions{
    public string GetCatagoryIcon(string strCategory)
    {
        var productCategory = uQuery.GetNodesByType("ProductCategory").ToList();

        foreach (var item in productCategory)
        {
            if (item.Id == Convert.ToInt32(strCategory))
            {
                strCategory = item.Name;
                break;
            }
        }

        switch (strCategory)
        {
            case "Halal":
                return "/images/icon-halal.png";
            case "Kosher":
                return "/images/icon-kosher.png";
            case "Vegan":
                return "/images/icon-vegan.png";
            case "Gluten Free":
                return "/images/icon-gluten.png";
            case "Low Fat":
                return "/images/lowfat_logo.png";
            case "100% Fat Free":
                return "/images/fatfree_logo.png";
            default:
                return string.Empty;
        }
    }

    public string GetCatagoryName(string strCategory)
    {
        var productCategory = uQuery.GetNodesByType("ProductCategory").ToList();

        foreach (var item in productCategory)
        {
            if (item.Id == Convert.ToInt32(strCategory))
            {
                strCategory = item.Name;
                break;
            }
        }

        return strCategory;
    }

    public string[] SeparateNumbers(string strInput)
    {
        Match m = Regex.Match(strInput, @"([0-9.]*)(\D*)");
        string[] arr = new string[2];
        arr[0] = string.IsNullOrEmpty(m.Groups[1].Value) ? string.Empty : m.Groups[1].Value;
        arr[1] = string.IsNullOrEmpty(m.Groups[2].Value) ? string.Empty : m.Groups[2].Value;
        return arr;
    }

    public class NutritionalInfo
    {
        public string strWeight { get; set; }
        public string strEnergy { get; set; }
        public string strFat { get; set; }
        public string strCarbohydrates { get; set; }
        public string strSodium { get; set; }
        public string strCalories { get; set; }
        public string strCholesterol { get; set; }
        public string strDietaryFiber { get; set; }

    }
}

<div class="tile">
    <div class="row">
        <div class="large-8 columns">
            @Umbraco.Field("productDescription")
            <div class="row">
                <div class="large-4 columns">
                    <ul class="productStats main">
                        <li class="iconItem">
                            <img src="/images/icon-weight.png">
                            <h5>Size</h5>
                            <h6>@Umbraco.Field("productSizeQty")@Umbraco.Field("productSizeUnit")</h6>
                        </li>

                        @{
                            //Bind Packaging Type
                            if (!string.IsNullOrEmpty(Model.Content.GetPropertyValue<string>("packagingType")))
                            {
                                var packagingType = new umbraco.NodeFactory.Node(Convert.ToInt32(Model.Content.GetPropertyValue<string>("packagingType"))).Name;
                            <li class="iconItem">
                                <img src="/images/icon-jar.png">
                                <h5>Packaging</h5>
                                <h6>@packagingType</h6>
                            </li>
                            }
                            
                            <li class="iconItem">
                                <img src="/images/icon-barcode.png">
                                <h5>Barcode</h5>
                                <h6>@Umbraco.Field("barcode")</h6>
                            </li>
                            
                            //Bind Product Category
                            if (!string.IsNullOrEmpty(Model.Content.GetPropertyValue<string>("category")))
                            {
                                var arrCategory = Model.Content.GetPropertyValue<string>("category").Split(',');
                                foreach (string strCategory in arrCategory)
                                {
                                    string strIcon = GetCatagoryIcon(strCategory);
                                    string strCategoryname = GetCatagoryName(strCategory);
                            <li class="iconItem">
                                <img src="@strIcon">
                                <h5>@strCategoryname</h5>
                            </li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="large-4 columns">
                    <ul class="productStats column2">
                    </ul>
                </div>
                <div class="large-4 columns">
                    <ul class="productStats column3">
                    </ul>
                </div>
            </div>
        </div>
        <div class="large-4 columns">
            <img src="@productImageUrl">
        </div>
    </div>
</div>


<!-- You May Also Like BG1 -->
@{string strFeaturedRecipe = Model.Content.GetPropertyValue<String>("featuredRecipe");
  if (!string.IsNullOrEmpty(strFeaturedRecipe))
  {
      Node featureRecipe = new Node(Convert.ToInt32(strFeaturedRecipe));

      if (featureRecipe != null && featureRecipe.Id > 0)
      {
          //Bind First Image for Recipe
          var allImages = featureRecipe.GetProperty<string>("images");
          var imageId = allImages.Split(',')[0];
          var imageUrl = SandhurstWebSite.Helper.Common.GetImageUrl(imageId) + ".ashx?width=470&mode=crop&crop=auto&anchor=middlecenter&scale=both";
      
    <div class="tile textured bg1">
        <div class="row">
            <div class="large-6 large-centered columns">
                <h5 class="subheader">Featured Recipe</h5>
                <h2>@Html.Raw(featureRecipe.Name)</h2>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <img src="@imageUrl" class="content/image" style="width:500px;">
            </div>
            <div class="large-6 columns">
                @Html.Raw(featureRecipe.GetProperty<string>("description"))
                <a href="@featureRecipe.NiceUrl" class="button right">View Recipe <i class="icon-angle-right"></i></a>
            </div>
        </div>
    </div>
      }
  }         
}

<div class="tile nutritionalInfo textured bg2">
    <div class="row">
        <div class="large-6 columns large-centered">
            <h2>Nutritional Info</h2>
        </div>
    </div>


    @{
        try
        {
            var nutritionalInformation = Model.Content.GetPropertyValue<string>("nutritionalInformation");

            XElement xmlTree = XElement.Parse(nutritionalInformation);

            List<NutritionalInfo> lstNutritionalInfo = new List<NutritionalInfo>();

            foreach (XElement xle in xmlTree.Elements())
            {
                NutritionalInfo objNutritionalInfo = new NutritionalInfo();

                foreach (XElement xleChi in xle.Elements())
                {
                    if (xleChi.Name == "Weight")
                    { objNutritionalInfo.strWeight = xleChi.Value; continue; }
                    if (xleChi.Name == "Energy")
                    { objNutritionalInfo.strEnergy = xleChi.Value; continue; }
                    if (xleChi.Name == "Fat")
                    { objNutritionalInfo.strFat = xleChi.Value; continue; }
                    if (xleChi.Name == "Carbohydrates")
                    { objNutritionalInfo.strCarbohydrates = xleChi.Value; continue; }
                    if (xleChi.Name == "Sodium")
                    { objNutritionalInfo.strSodium = xleChi.Value; continue; }
                    if (xleChi.Name == "Calories")
                    { objNutritionalInfo.strCalories = xleChi.Value; continue; }
                    if (xleChi.Name == "Cholesterol")
                    { objNutritionalInfo.strCholesterol = xleChi.Value; continue; }
                    if (xleChi.Name == "DietaryFiber")
                    { objNutritionalInfo.strDietaryFiber = xleChi.Value; }
                }

                lstNutritionalInfo.Add(objNutritionalInfo);
            }

            foreach (NutritionalInfo objNutritionalInfo in lstNutritionalInfo)
            {
        <div class="row">
            <div class="large-12 columns">
                <center><h6>Per @Html.Raw(objNutritionalInfo.strWeight) Serve</h6></center>
            </div>
        </div>
        <div class="row">
            <div class="large-10 columns large-centered">
                <ul class="large-block-grid-7 small-block-grid-3 circleProducts">
                    @if (!string.IsNullOrEmpty(objNutritionalInfo.strEnergy))
                    {
                        string[] separateQtyUnit = SeparateNumbers(objNutritionalInfo.strEnergy);
                        <li>
                            <center>
							<div class="circle-small">
								<span class="number">@Html.Raw(separateQtyUnit[0])<small>@Html.Raw(separateQtyUnit[1])</small></span>
								<span class="metric">Energy</span>
							</div> 
						</center>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(objNutritionalInfo.strFat))
                    {
                        string[] separateQtyUnit = SeparateNumbers(objNutritionalInfo.strFat);
                        <li>
                            <center>
							<div class="circle-small">
								<span class="number">@Html.Raw(separateQtyUnit[0])<small>@Html.Raw(separateQtyUnit[1])</small></span>
								<span class="metric">Fat</span>
							</div> 
						</center>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(objNutritionalInfo.strCarbohydrates))
                    {
                        string[] separateQtyUnit = SeparateNumbers(objNutritionalInfo.strCarbohydrates);
                        <li>
                            <center>
							<div class="circle-small">
								<span class="number">@Html.Raw(separateQtyUnit[0])<small>@Html.Raw(separateQtyUnit[1])</small></span>
								<span class="metric">Carbs</span>
							</div> 
						</center>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(objNutritionalInfo.strSodium))
                    {
                        string[] separateQtyUnit = SeparateNumbers(objNutritionalInfo.strSodium);
                        <li>
                            <center>
							<div class="circle-small">
								<span class="number">@Html.Raw(separateQtyUnit[0])<small>@Html.Raw(separateQtyUnit[1])</small></span>
								<span class="metric">Sodium</span>
							</div> 
						</center>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(objNutritionalInfo.strCalories))
                    {
                        string[] separateQtyUnit = SeparateNumbers(objNutritionalInfo.strCalories);
                        <li>
                            <center>
							<div class="circle-small">
								<span class="number">@Html.Raw(separateQtyUnit[0])<small>@Html.Raw(separateQtyUnit[1])</small></span>
								<span class="metric">Calories</span>
							</div> 
						</center>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(objNutritionalInfo.strCholesterol))
                    {
                        string[] separateQtyUnit = SeparateNumbers(objNutritionalInfo.strCholesterol);
                        <li>
                            <center>
							<div class="circle-small">
								<span class="number">@Html.Raw(separateQtyUnit[0])<small>@Html.Raw(separateQtyUnit[1])</small></span>
								<span class="metric">Cholesterol</span>
							</div> 
						</center>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(objNutritionalInfo.strDietaryFiber))
                    {
                        string[] separateQtyUnit = SeparateNumbers(objNutritionalInfo.strDietaryFiber);
                        <li>
                            <center>
							<div class="circle-small">
								<span class="number">@Html.Raw(separateQtyUnit[0])<small>@Html.Raw(separateQtyUnit[1])</small></span>
								<span class="metric">Dietary Fiber</span>
							</div> 
						</center>
                        </li>
                    }
                </ul>
            </div>
        </div>
            }

        }
        catch (Exception ex)
        {
        }
    }
</div>

<!-- Two column copy -->
<div class="tile twoColumnCopy">
    <div class="row">
        <div class="large-6 columns">
            <div class="row">
                <div class="large-10 large-centered columns">
                    <center><h2>Storage Advice</h2></center>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    @Umbraco.Field("storageAdvice")
                </div>
            </div>
        </div>
        <div class="large-6 columns">
            <div class="row">
                <div class="large-10 large-centered columns">
                    <center><h2>Packaging Information</h2></center>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    @Umbraco.Field("packagingInformation")
                </div>
            </div>
        </div>
    </div>
    @{if (Model.Content.GetPropertyValue<string>("availableForSample") != null && String.Equals(Model.Content.GetPropertyValue<string>("availableForSample"), "1"))
      {
        <div class="row">
            <p class="orderSample">For information or if you would like to order a sample of our @Model.Content.Name please <a href="/contact/contact-us/">contact us</a>. </p>
        </div>
      }
    }
</div>
