﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using umbraco.NodeFactory;
@using System.Linq;
@using System.Xml;
@using System.Xml.Linq;
@using SandhurstWebSite.Models;
@using Umbraco.Core.Logging

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var timeToCookInMinutes = 0;
    var timeToCookStr = "";
    string costPerServe = "";

    if (int.TryParse(Model.Content.GetPropertyValue<string>("cookingTimeInMinutes"), out timeToCookInMinutes))
    {
        timeToCookStr = timeToCookInMinutes >= 60 ? ((timeToCookInMinutes / 60) + " Hour(s) " + (timeToCookInMinutes == 60 ? "" : (timeToCookInMinutes % 60) + " Minutes"))
                                                   : timeToCookInMinutes + " Minutes";
    }

    if (!costPerServe.Contains('.'))
    {
        costPerServe = Model.Content.GetPropertyValue<string>("costPerServe") + ".00";
    }                                   
}
@*<style type="text/css">
.bjqs-wrapper ul li img {
    width: 450px; height: 275px !important;
}
</style>*@
<div class="tile textured recipeIntro bg1">
    <div class="row">
        <div class="large-6 columns">
            @Umbraco.Field("description")
            <div class="row">
                <div class="large-12 columns large-centered">
                    <ul class="productStats">
                        <li>
                            <div class="row">
                                <div class="columns">
                                    <img src="~/images/icon-time.png" style="position: relative; margin-right: 14px;">
                                    <h5 style="padding-top: 6px;">Cooking Time</h5>
                                    <br />
                                    <h6>@timeToCookStr</h6>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="columns">
                                    <img src="~/images/icon-person.png" style="position: relative; margin-right: 14px;">
                                    <h5 style="padding-top: 6px;">Serves</h5>
                                    <br />
                                    <h6>@Umbraco.Field("numberOfServes") Adults</h6>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="columns">
                                    <img src="~/images/icon-cost.png" style="position: relative; margin-right: 14px;">
                                    <h5 style="padding-top: 6px;">Cost Per Serve</h5>
                                    <br />
                                    <h6>$@costPerServe</h6>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="large-6 columns">
            <div class="contentSlider">@* style="clear: both; height: 275px !important; width:450px; display: block;"*@
                <ul class="bjqs">
                    @{
                        //Bind Carousal
                        var allImages = Model.Content.GetPropertyValue<string>("images");
                        if (allImages.Contains(','))
                        {
                            var arrAllImages = allImages.Split(',');
                            if (arrAllImages != null && arrAllImages.Count() > 0)
                            {
                                foreach (var imageId in arrAllImages)
                                {
                                    if (imageId != null)
                                    {
                                        var imageUrl = SandhurstWebSite.Helper.Common.GetImageUrl(imageId);

                                        if (string.IsNullOrEmpty(imageUrl))
                                        {
                                            <li>
                                                <img src="http://placehold.it/500x300&text=No+Image" alt="" class="slideImg">
                                            </li>
                                        }
                                        else
                                        {
                                            imageUrl += ".ashx?width=500&height=300&mode=crop&crop=auto&anchor=middlecenter&scale=both";
                                            <li>
                                                <img src="@imageUrl" alt="" class="slideImg">
                                            </li>
                                        }
                                    }
                                }
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="tile ingredients">
    <div class="row">
        <div class="large-4 columns">
            <h2>Ingredients</h2>
        </div>
        <div class="large-7 push-1 columns">
            <ul class="ingredientList large-block-grid-2">
                @{
                    try
                    {
                        var ingredients = Model.Content.GetPropertyValue<string>("ingredientDetail");

                        XElement xmlTree = XElement.Parse(ingredients);

                        List<Ingredient> lstIngredients = new List<Ingredient>();

                        foreach (XElement xle in xmlTree.Elements())
                        {
                            string ingredientTitle = string.Empty;
                            string ingredientQty = string.Empty;

                            foreach (XElement xleChi in xle.Elements())
                            {
                                if (xleChi.Name == "ingredientTitle")
                                { ingredientTitle = xleChi.Value; }
                                if (xleChi.Name == "ingredientQty")
                                { ingredientQty = xleChi.Value; }
                            }

                            lstIngredients.Add(new Ingredient() { IngredientTitle = ingredientTitle, IngredientQty = ingredientQty });
                        }

                        foreach (Ingredient demo in lstIngredients)
                        {
                            <li>
                                <h5>@demo.IngredientTitle</h5>
                                <h6>@demo.IngredientQty</h6>
                            </li>
                        }

                    }
                    catch (Exception ex)
                    {
                        LogHelper.Info(System.Reflection.MethodBase.GetCurrentMethod().DeclaringType, ex.StackTrace);
                    }
                }
            </ul>
        </div>
    </div>
</div>

<!-- Step List with bg2 -->
<div class="tile stepList textured bg2">
    <div class="row">
        <div class="large-6 large-centered columns">
            <center><h2>@Umbraco.Field("methodTitle")</h2></center>
        </div>
    </div>
    <div class="row">
        <div class="large-10 columns large-centered">
            <ul>
                @{                   
                    string steps = Model.Content.GetPropertyValue<string>("methodDescription");

                    if (!string.IsNullOrEmpty(steps))
                    {
                        XElement xmlTree = XElement.Parse(steps);

                        foreach (XElement xle in xmlTree.Elements())
                        {
                            if (xle != null && !string.IsNullOrEmpty(xle.Value))
                            {
                                string strStep = xle.Value;
        
                                 <li>
                                    <div class="row">
                                        <div class="large-4 columns">
                                            <div class="stepTitle">Step </div>
                                        </div>
                                        <div class="large-8 columns">
                                            <p>
                                                @Html.Raw(strStep)
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    }
  
                }
            </ul>
        </div>
    </div>
</div>