﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using umbraco.NodeFactory;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    // logic to fetch filter items
    var cuisineTypeList = uQuery.GetNodesByType("RecipeCuisineType").OrderBy(x => x.Name).ToList();
    var productList = uQuery.GetNodesByType("RecipeProduct").OrderBy(x => x.Name).ToList();
}

<input type="hidden" id="templateName" value="Recipe" />
<div class="tile range">
    <!-- Filters -->
    <div data-magellan-expedition="fixed">
        <div class="row ">
            <div class="large-12 columns noBG">

                <div class="">
                    <div class="large-6 columns">
                        <form class="custom sort">
                            <div class="large-6 columns">
                                <select id="customDropdown1" class="large customSort">
                                    <option selected>Name (A-Z)</option>
                                    <option>Name (Z-A)</option>
                                </select>
                            </div>
                            <div class="large-6 columns"></div>
                        </form>
                    </div>
                </div>
                <div class="filterTrigger">
                    <a href="#" class="button">Filter Recipes <i class="icon-angle-down"></i></a>
                </div>

                <div class="drawer"></div>

                <div class="filters">
                    <div class="filtersInner">
                        <form class="custom">
                            <div class="row">
                                @{ 
                                    // cuisine type filter
                                    if (cuisineTypeList != null && cuisineTypeList.Count > 0)
                                    {
                                    <div class="large-3 columns">
                                        <h5>Cuisine Type</h5>
                                        <ul class="filtersList large-block-grid-2 small-block-grid-1">
                                            @foreach (var cuisineTypeItem in cuisineTypeList)
                                            {
                                                <li class="checkFilters" data-attr="@cuisineTypeItem.Id" data-type="CuisineType">
                                                    <label for="@cuisineTypeItem.Id">
                                                        <input type="checkbox" id="@cuisineTypeItem.Id" style="display: none;">
                                                        <span class="custom checkbox"></span><span class="filterText">@cuisineTypeItem.Name</span>
                                                    </label>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                    }

                                    // product filter
                                    if (productList != null && productList.Count > 0)
                                    {
                                    <div class="large-3 columns">
                                        <h5>Product</h5>
                                        <ul class="filtersList large-block-grid-2 small-block-grid-1">
                                            @foreach (var productItem in productList)
                                            {
                                                <li class="checkFilters" data-attr="@productItem.Id" data-type="Product">
                                                    <label for="@productItem.Id">
                                                        <input type="checkbox" id="@productItem.Id" style="display: none;">
                                                        <span class="custom checkbox"></span><span class="filterText">@productItem.Name</span>
                                                    </label>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                    }
                                }

                                @* cooking time filter*@
                                <div class="large-3 columns">
                                    <h5>Cooking Time</h5>
                                    <ul class="filtersList large-block-grid-2 small-block-grid-1">
                                        <li class="checkFilters" data-attr="15min" data-type="CookingTime">
                                            <label for="15min">
                                                <input type="checkbox" id="15min" style="display: none;">
                                                <span class="custom checkbox"></span><span class="filterText">15 min</span>
                                            </label>
                                        </li>
                                        <li class="checkFilters" data-attr="30min" data-type="CookingTime">
                                            <label for="30min">
                                                <input type="checkbox" id="30min" style="display: none;">
                                                <span class="custom checkbox"></span><span class="filterText">30 min</span>
                                            </label>
                                        </li>
                                        <li class="checkFilters" data-attr="45min" data-type="CookingTime">
                                            <label for="45min">
                                                <input type="checkbox" id="45min" style="display: none;">
                                                <span class="custom checkbox"></span><span class="filterText">45 min</span>
                                            </label>
                                        </li>
                                        <li class="checkFilters" data-attr="60min" data-type="CookingTime">
                                            <label for="60min">
                                                <input type="checkbox" id="60min" style="display: none;">
                                                <span class="custom checkbox"></span><span class="filterText">60 min</span>
                                            </label>
                                        </li>
                                        <li class="checkFilters" data-attr="OverAnHour" data-type="CookingTime">
                                            <label for="OverAnHour">
                                                <input type="checkbox" id="OverAnHour" style="display: none;">
                                                <span class="custom checkbox"></span><span class="filterText">Over an hour</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>

                                @* difficulty filter*@
                                <div class="large-3 columns">
                                    <h5>Difficulty</h5>
                                    <ul class="filtersList large-block-grid-2 small-block-grid-1">
                                        <li class="checkFilters" data-attr="Low" data-type="DifficultyLevel">
                                            <label for="Low">
                                                <input type="checkbox" id="Low" style="display: none;">
                                                <span class="custom checkbox"></span><span class="filterText">Low</span>
                                            </label>
                                        </li>
                                        <li class="checkFilters" data-attr="Medium" data-type="DifficultyLevel">
                                            <label for="Medium">
                                                <input type="checkbox" id="Medium" style="display: none;">
                                                <span class="custom checkbox"></span><span class="filterText">Medium</span>
                                            </label>
                                        </li>
                                        <li class="checkFilters" data-attr="High" data-type="DifficultyLevel">
                                            <label for="High">
                                                <input type="checkbox" id="High" style="display: none;">
                                                <span class="custom checkbox"></span><span class="filterText">High</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                    <form class="custom">
                        <div class="row">
                            <div class="large-12 columns">
                                <h5 class="reset activeHead">Active Filters:</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-9 columns">
                                <ul class="activeFilters large-block-grid-4">
                                </ul>
                            </div>
                            <div class="large-3 columns">
                                <a href="#" class="reset resetBtn">Clear Filters <i class="icon-remove-sign"></i></a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Recipes -->
    <div class="row">
        <div class="large-12 columns">
            <div class="row">
                <div class="large-12 columns">
                    <ul class="large-block-grid-4 small-block-grid-2 recipes">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>