﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tile">
	<div class="row">
		<div class="large-8 large-centered columns">
            <h3 class="subheader">@Umbraco.Field("mediaKitDescription")</h3>
			<div class="doubleDivider" style="margin-top: 0px !important;"></div>	
		</div>
	</div>
</div>

<div class="mediaKitIcons">
		<div class="row">
			<div class="large-8 large-centered columns">
				<ul class="large-block-grid-2 iconInfo">
					<li>
						<div class="row">
							<div class="large-4 columns">
								<img src="/images/icon-sandhurst.png" class="hide-for-small">
							</div>
							<div class="large-8 columns">
								<h5>Sandhurst Logo Kit</h5>
								<a href="@Umbraco.Field("sandhurstLogoKitFile")" class="download">Download ZIP <i class="icon-download-alt"></i></a>
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="large-4 columns">
								<img src="/images/icon-press.png" class="hide-for-small">
							</div>
							<div class="large-8 columns">
								<h5>Press Release</h5>
								<a href="@Umbraco.Field("pressReleaseFile")" class="download">Download ZIP <i class="icon-download-alt"></i></a>
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="large-4 columns">
								<img src="/images/icon-listing.png" class="hide-for-small">
							</div>
							<div class="large-8 columns">
								<h5>Product Listings</h5>
								<a href="@Umbraco.Field("productListingsFile")" class="download">Download ZIP <i class="icon-download-alt"></i></a>
							</div>
						</div>
					</li>
					<li>
						<div class="row">
							<div class="large-4 columns">
								<img src="/images/icon-family.png" class="hide-for-small">
							</div>
							<div class="large-8 columns">
								<h5>The Family Story</h5>
								<a href="@Umbraco.Field("theFamilyStoryFile")" class="download">Download ZIP <i class="icon-download-alt"></i></a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>