﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tile noBottom sortTile">
    <div class="row">
        <div class="large-8 large-centered columns">
            <h3 class="subheader">Showing all results for <strong>'Search Term'</strong></h3>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns withDivider">
            <form class="custom sort">
                <div class="large-4 columns">
                    <label for="showDropdown" class="right inline">SHOW:</label>
                </div>
                <div class="large-8 columns">
                    <select id="showDropdown" class="large">
                        <option selected>All Results</option>
                        <option>Recipes</option>
                        <option>Products</option>
                        <option>Ranges</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="large-6 columns">
            <form class="custom sort">
                <div class="large-4 columns">
                    <label for="sortDropdown" class="right inline">Sort Results By:</label>
                </div>
                <div class="large-8 columns">
                    <select id="sortDropdown" class="large">
                        <option selected>Name (A-Z)</option>
                        <option>Name (Z-A)</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <hr>
        </div>
    </div>
</div>

<div class="results">
    <div class="resultContainer fade">
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var totalResultsCount = 0, startIndex = 0, resultToBeShownCount = 12, searchText = sessionStorage.getItem('SearchValue'), itemListingDivHeight = 0;
        
        GetSearchResult();
        sessionStorage.setItem('SearchValue', null);

        $('#sortDropdown').change(function () {
            InitializeResult();
            startLoad();
            GetSearchResult();
            loadDone();
        });

        $('#showDropdown').change(function () {
            InitializeResult();
            startLoad();
            GetSearchResult();
            loadDone();
        });
        
        $(window).scroll(function () {
            if ($(this).scrollTop() >= itemListingDivHeight - 100) {
                startIndex = parseInt(startIndex) + parseInt(resultToBeShownCount);
                //console.log('startIndex = ' + startIndex + ' totalResultsCount = ' + totalResultsCount);

                if (startIndex < totalResultsCount) {
                    startLoad();
                    GetSearchResult();
                    loadDone();
                }
                else {
                    return;
                }
            }
        });

        function InitializeResult() {
            $("div.resultContainer").html("");
            startIndex = 0;
            totalResultsCount = 0;
        }

        function GetSearchResult() {
            if (searchText == null || searchText == undefined || searchText == 'Search' || searchText == 'null' || searchText == '') {
                $('.subheader').html("");
                $("div.resultContainer").append('<center><span class="noData">No Search Term given to search</span></center>');
                return false;
            }

            $('.subheader').html("Showing all results for <strong>'" + searchText + "'</strong>");

            // take sort dropdown value
            var sortValue = $('#sortDropdown').val() == 'Name (A-Z)' ? "ASC" : "DESC";

            // take Show dropdown value
            var showValue = $('#showDropdown').val();

            //console.log('startIndex = ' + startIndex + ' totalResultsCount = ' + totalResultsCount);

            $.ajax({
                url: '/umbraco/surface/SearchSurface/GetSearchResult',
                type: "POST",
                data: "{'startIndex':" + startIndex + ", 'itemCount':" + resultToBeShownCount + ", 'searchText':'" + searchText + "', 'sortValue':'" + sortValue + "', 'showValue':'" + showValue + "'}",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    var results = jQuery.parseJSON(JSON.stringify(data));

                    if (results.length > 0) {
                        $.each(results, function (i, o) {
                            if (totalResultsCount == 0) {
                                totalResultsCount = o["ResultCount"];
                            }

                            var element = '<!-- Result --><div class="row"><a href="{{LINK}}" class="result"><div class="large-12 columns"><h2>{{TITLE}}</h2><p class="resultType">{{TYPE}}</p><p>{{DESCRIPTION}}</p></div></a></div><div class="row"><div class="large-12 columns"><hr></div></div>'
                            element = element.replace("{{LINK}}", o["ResultUrl"]);
                            element = element.replace("{{TITLE}}", o["ResultName"]);
                            element = element.replace("{{TYPE}}", o["ResultType"]);
                            element = element.replace("{{DESCRIPTION}}", o["ResultDescription"]);

                            $("div.resultContainer").append(element);
                        });
                    }
                    else {
                        $("div.resultContainer").append('<center><span class="noData">No results found</span></center>');
                    }

                    itemListingDivHeight = $("div.resultContainer").height();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.statusText);
                }
            });
        }
    });
</script>