﻿@using Umbraco.Core.Logging
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

@{
    var strErrorField = Request["errorField"];
    var strErrorFieldLimit = Request["errorFieldLimit"];


    var isError = Request["error"];
    string pageResponse = "Somethong error occured. Please make sure that all content is valid.";

    var fieldName = Request["FieldName"];
    var tabName = Request["TabName"];

    if (!string.IsNullOrEmpty(isError))
    {
        switch (isError)
        {
            case "RangeNotAllowed":
                pageResponse = "Link to Product Ranges is not allowed.";

                break;
            case "OnlyRangeAllowed":
                pageResponse = "Only Link to 'Product Ranges' is allowed.";
                break;
            case "FeaturedRagneLimitExceeded":
                pageResponse = "Only 3 'Product Ranges' can be selected as 'Featured Range'.";
                break;
            case "Min2Steps":
                pageResponse = "Minimum 2 steps are required and should not be kept blank.";
                break;
            case "IndexNotAllowed":
                pageResponse = "Specified 'Display Index' already assigned to another panel.";
                break;
            case "MenuItemIndexNotAllowed":
                pageResponse = "Specified 'Menu Item Index' already assigned to another Menu Item.";
                break;
            case "NodeNotAllowed":
                if (fieldName == "youMayLikeActionLinkUrl")
                {
                    fieldName = "ActionLinkUrl";
                    tabName = "You May Also Like Section";
                }
                else if (fieldName == "linkTo")
                {
                    tabName = "Menu Item Details";
                }
                else if (fieldName == "action1Link" || fieldName == "action2Link" || fieldName == "actionLinkUrl")
                {
                    tabName = "Panel Properties";
                }

                //Add space to error field to replace (e.g 'descriptionOfSlide1' should be 'Description Of Slide1')
                fieldName = System.Text.RegularExpressions.Regex.Replace(fieldName, "([a-z0-9])([A-Z])", "$1 $2");
                fieldName = fieldName.Substring(0, 1).ToUpper() + fieldName.Substring(1);

                pageResponse = "Selected page in " + fieldName + " field of " + tabName + " tab is not allowed!";
                break;
            case "OnlyRecipeAllowed":
                //The Title Of Slide1 field in the Image Slider 1 tab is mandatory
                pageResponse = "Only recipe allowed in " + fieldName + " field of " + tabName + " tab!";
                break;
            case "OnlyProductAllowed":
                pageResponse = "Only product allowed in " + fieldName + " field of " + tabName + " tab!";
                break;
            case "OnlyRecipeProductAllowed":
                pageResponse = "Only product/recipe allowed in " + fieldName + " field of " + tabName + " tab!";
                break;
        }
    }
    else if (!string.IsNullOrEmpty(strErrorField) && !string.IsNullOrEmpty(strErrorFieldLimit))
    {
        if (!string.IsNullOrEmpty(strErrorField))
        {
            //Add space to error field to replace (e.g 'descriptionOfSlide1' should be 'Description Of Slide1')
            strErrorField = System.Text.RegularExpressions.Regex.Replace(strErrorField, "([a-z])([A-Z])", "$1 $2");
            strErrorField = strErrorField.Substring(0, 1).ToUpper() + strErrorField.Substring(1);
        }
        pageResponse = "Only " + strErrorFieldLimit + " charators are allowed in '" + strErrorField + "' field.";
    } 
}


<title>Error</title>
<p style="width: 100%; margin: 10% auto; position: relative; font-size: 20px; text-align: center; font: bold 100% 'Lucida Grande', Arial, sans-serif; color: gray;">@pageResponse
    <br />
</p>
