/* @license
 * MyFonts Webfont Build ID 2650980, 2013-09-25T02:19:42-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Asterism by Great Lakes Lettering
 * URL: http://www.myfonts.com/fonts/great-lakes-lettering/asterism/regular/
 * Copyright: Copyright &#x00A9; 2013 by Great Lakes Lettering. All rights reserved.
 * Licensed pageviews: 20,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2650980
 * 
 * © 2013 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/287364");

  
@font-face {font-family: 'Asterism-Regular';src: url('webfonts/287364_0_0.eot');src: url('webfonts/287364_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/287364_0_0.woff') format('woff'),url('webfonts/287364_0_0.ttf') format('truetype');}
 