﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using umbraco.NodeFactory
@using Umbraco.Core.Logging
@{
    Layout = null;
}


<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Umbraco.Field("pageTitle")</title>
    <meta name="description" content='@Umbraco.Field("metaDescription")'/>
    <meta name="keywords" content='@Umbraco.Field("metaKeywords")'/>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/app.css" />
    <link rel="stylesheet" href="~/css/basicSlider.css" />
    <link rel="stylesheet" href="~/fonts/asterism.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/flexslider.css" />
    <link rel="stylesheet" href="~/css/lightcase.css" />
    <link rel="stylesheet" href="~/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/media.css" />
    <link rel="stylesheet" href="~/css/rnav.css" />

    <!--[if IE]>
    <link rel="stylesheet" href="~/css/ie.css" />
    <![endif]-->

    <script src="~/Scripts/vendor/custom.modernizr.js"></script>

    <script type="text/javascript" src="//use.typekit.net/klk6pny.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
</head>

<body id="home">
    @Html.Partial("Header")

    @{
        try
        {
            bool isShowHeroPanel = Model.Content.GetProperty("heroPanelTitle") != null ? true : false; ;
            string imageUrl = string.Empty;

            if (isShowHeroPanel)
            {
                //Show Background image for Hero panel
                if (Model.Content.HasValue("heroPanelBackground"))
                {
                    var typedMultiNodeTreePicker = new Umbraco.Core.Dynamics.DynamicXml(Model.Content.GetPropertyValue<string>("heroPanelBackground"));

                    imageUrl = SandhurstWebSite.Helper.Common.GetImageUrl(typedMultiNodeTreePicker.InnerText) + ".ashx?width=1265&height=291anchor=topleft&scale=both";
                }
                else
                {
                    imageUrl = "/images/heroImages/redboard.jpg.ashx?width=1265&height=291anchor=topleft&scale=both";
                }

        <!-- HERO TILE -->
        <!-- Content Hero Tile -->
        <!-- Note: inline style used so that CMS can edit the background image of the tile -->
        <div class="tile hero" style="background-image: url(@imageUrl);">
            <div class="row">
                <div class="large-8 large-centered columns">
                    <center><h1>@Html.Raw(Umbraco.Field("heroPanelTitle"))</h1></center>
                </div>
            </div>
        </div>
            }
        }
        catch (Exception ex)
        {
            LogHelper.Info(System.Reflection.MethodBase.GetCurrentMethod().DeclaringType, ex.StackTrace);
        } 
    }
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    @RenderBody()

    @{
        //You May Also Like section
        bool isShowYouMayAlsoLikeSection = Model.Content.GetProperty("youMayLikeHeading") != null ? true : false;// Model.Content.GetPropertyValue<string>("youMayLikeHeading");
        string backgroundImage = "tile textured bg1";
        
        if(Model.Content.DocumentTypeAlias == "Home"){backgroundImage = "tile textured bg2";}
        
        if (isShowYouMayAlsoLikeSection)
        {
            //Get URL for Action button
            string niceURL = Model.Content.HasValue("youMayLikeActionLinkUrl") ? new Node(Model.Content.GetPropertyValue<int>("youMayLikeActionLinkUrl")).NiceUrl : "#";
        
        <div class="@backgroundImage">
            <div class="row">
                <div class="large-8 large-centered columns">
                    <h5 class="subheader">@Html.Raw(Umbraco.Field("youMayLikeCallToAction"))</h5>
                    <h2>@Html.Raw(Umbraco.Field("youMayLikeHeading"))</h2>
                </div>
            </div>
            <div class="row">
                <div class="large-10 large-centered columns">
                    @Html.Raw(Umbraco.Field("youMayLikeDescription"))
                    <center><a href="@niceURL" class="button">@Html.Raw(Umbraco.Field("youMayLikeActionLinkText"))<i class="icon-angle-right"></i></a></center>
                </div>
            </div>
        </div>
        }
    }


    <!-- jQuery CDN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Foundation Scripts -->
    <script src="~/Scripts/foundation/foundation.js"></script>
    <script src="~/Scripts/foundation/foundation.orbit.js"></script>
    <script src="~/Scripts/foundation/foundation.forms.js"></script>
    <script src="~/Scripts/foundation/foundation.magellan.js"></script>
    <!-- Custom Scripts -->
    <script src="~/Scripts/ui.js"></script>

    <script src="~/Scripts/placeholder.js"></script>
    <script src="~/scripts/foundation/foundation.abide.js"></script>
    <script src="~/Scripts/lightcase.js"></script>
    <script src="~/Scripts/breakpoints.js"></script>

    <script src="~/Scripts/enquire.js"></script>
    <script src="~/Scripts/rnav.js"></script>

    <script src="~/Scripts/basicSlider.js"></script>
    <script src="~/Scripts/flex.js"></script>
    <script src="~/Scripts/meerkat-ck.js"></script>

    <!-- Init for Foundation -->
    <script>
        $(document).foundation();
    </script>

    <script>
        var nav = responsiveNav(".topNav", {
            label: "Menu  ",
            animate: false
        });
    </script>
    @Html.Partial("Footer")
</body>
    
<script type="text/javascript">
    $("#divSearch").click(function () {
        if ($("#txtSearch").val() != 'Search' && $("#txtSearch").val() != undefined && $("#txtSearch").val() != '') {
            sessionStorage.setItem('SearchValue', $("#txtSearch").val());
            window.open('/Search', '_self');
        }
        //else {
        //    alert('Please enter some text in the search box.');
        //}
    });

    $("#txtSearch").keyup(function (event) {
        if (event.which == 13) {
            if ($("#txtSearch").val() != 'Search' && $("#txtSearch").val() != undefined && $("#txtSearch").val() != '') {
                sessionStorage.setItem('SearchValue', $("#txtSearch").val());
                window.open('/Search', '_self');
            }
            //else {
            //    alert('Please enter some text in the search box.');
            //}
        }
    });
    
    //$("#txtSearch").click(function () {
    //        if ($("#txtSearch").val() != 'Search' && $("#txtSearch").val() != undefined && $("#txtSearch").val() != '') {
    //            sessionStorage.setItem('SearchValue', $("#txtSearch").val());
    //            window.open('/Search', '_self');
    //        }
    //        //else {
    //        //    alert('Please enter some text in the search box.');
    //        //}
    //});
</script>
</html>
