.button 
	background: none
	background-image: none
	border: 1px solid rgba(0,0,0,0)
	-webkit-box-shadow: none
	box-shadow: none
	-webkit-box-shadow: inset 0px 0px 0px 1px #fff
	box-shadow: inset 0px 0px 0px 1px #fff
	outline: 1px solid #7d7c79
	font-family: "atrament-web", Helvetica, Arial, sans-serif
	color: #fff
	text-transform: uppercase
	font-weight: 200
	padding: 10px 70px
	margin-top: 15px
	font-size: 18px
	-webkit-transition: outline 300ms ease-out
	-moz-transition: outline 300ms ease-out
	transition: outline 300ms ease-out

	&:hover
		background-color: transparent
		outline: 1px solid lighten(#7d7c79, 40%)

	i 
		margin-left: 8px

.viewRetailBtn
	padding: 10px 50px
	i 
		margin-left: 5px

.tileCTA
	border-top: 1px solid #d3d3d1
	border-bottom: 1px solid #d3d3d1
	width: 100%
	display: block
	padding: 30px 0px
	font-family: $slab
	color: $grey
	text-align: center
	font-size: 18px
	i 
		margin-left: 15px
	&:hover 
		color: $red