form.custom .custom.checkbox.checked::before 
	content: "\2713 "
	color: #fff
	background-color: $red
	border: 1px solid #000
	font-size: 12px

form.custom .custom.dropdown
	font-size: 11px
	padding: 20px 0px
	background: none

	.current
		line-height: 0
		margin-left: 15px
		overflow: visible
		color: #a9a9b3

	.selector
		top: 8px

form.custom .custom.dropdown ul
	top: 40px


form 
	input[type=text]:focus, input[type=textarea]:focus, input[type=textarea]:active
		-webkit-box-shadow: 0 0 5px $red
		-moz-box-shadow: 0 0 5px $red
		box-shadow: 0 0 5px $red
	input[type=text] 
		font-size: 11px
		padding: 20px
		color: #000
	label
		font-family: "atrament-web", Helvetica, Arial, sans-serif
		color: #000
		text-transform: uppercase
		margin-bottom: 8px
		font-size: 18px

		span 
			color: $red
			font-size: 16px
			position: relative
			top: -3px
			left: 2px
	input[type=submit]
		border: 1px solid rgba(0,0,0,0)
		-webkit-box-shadow: none
		box-shadow: none
		-webkit-box-shadow: inset 0px 0px 0px 1px #000
		box-shadow: inset 0px 0px 0px 1px #000
		outline: 1px solid #7d7c79
		color: #000
		&:hover 
			color: #000
.textured 
	input[type=text]:focus, input[type=textarea]:focus, input[type=textarea]:active
		-webkit-box-shadow: 0 0 5px $red
		-moz-box-shadow: 0 0 5px $red
		box-shadow: 0 0 5px $red
	input[type=text] 
		font-size: 11px
		padding: 20px
		color: #000
	label
		font-family: "atrament-web", Helvetica, Arial, sans-serif
		color: #fff
		text-transform: uppercase
		margin-bottom: 8px
		font-size: 18px

		span 
			color: $red
			font-size: 14px
			position: relative
			top: -3px
			left: 2px
	input[type=submit]
		border: 1px solid rgba(0,0,0,0)
		-webkit-box-shadow: none
		box-shadow: none
		-webkit-box-shadow: inset 0px 0px 0px 1px #fff
		box-shadow: inset 0px 0px 0px 1px #fff
		outline: 1px solid #fff
		color: #fff
		&:hover 
			color: darken(#fff, 10%)!important


.checkbox
	font-family: Helvetica, Arial, sans-serif
	text-transform: none
	position: relative
	top: 7px
	
.custom.checkbox:hover
	cursor: pointer

.contact
	textarea
		width: 100%
		border: 1px solid #cccccc
		min-height: 150px
		vertical-align: top


.validation
	display: none
	font-weight: 300!important
	padding: 5px!important
	background-color: $red!important


.error input, input.error, .error textarea, textarea.error
	background-color: #FFF
	border: none


.checkboxText
	position: relative
	top: -2px
	left: 6px
	color: #000
	font-size: 11px
	font-family: $slab

	a 
		color: $red
		text-decoration: underline
		padding-bottom: 3px

.sort 
	margin-top: 15px

.sort .dropdown 
	color: #000
	text-align: left
	font-family: $sans
	text-transform: uppercase

	li 
		font-size: 16px!important

	.current 
		color: #000!important
		font-size: 18px!important
		font-weight: 300

form.custom .custom.dropdown.open.large ul li
	text-align: left
	padding: 10px 0px
	font-size: 18px
	padding-left: 10px

form.custom .custom.dropdown.open.large ul
	min-width: 0px
	width: 100%!important

.newsletter 
	.checkboxContain
		margin: 10px 0
