.customIcon
	width: 27px
	height: 27px

.custom-icon-email
	background-image: url(../images/icons/email-white.png)

.custom-icon-phone
	background-image: url(../images/icons/phone-white.png)

.iconContain
	width: 45%
	padding-top: 15px
	.customIcon
		float: left
		display: block
		margin-right: 15px

	span 
		float: left
		display: block
		color: #fff
		font-family: $sans
		font-size: 18px

.textured
	.custom-icon-email
		background-image: url(../images/icons/email-black.png)
	.custom-icon-phone
		background-image: url(../images/icons/phone-black.png)
	span 
		color: $grey