.textured
	.contentImage
		border: 6px solid #fff
		+box-shadow(0px,0px,5px,0px,rgba(0,0,0,0.8))

	.slideImg
		border: 6px solid #fff
		+box-shadow(0px,0px,5px,0px,rgba(0,0,0,0.8))
		margin-top: 15px



.littleLogo 
	display: none
	margin-top: 10px
		

.products
	padding-bottom: 15px
	margin-bottom: 10px
	li:hover 
		cursor: pointer
		h4
			color: $red

.circleProducts
	ul
		list-style: none

	li 
		display: inline
		margin-bottom: 15px

	.circle
		width: 185px
		height: 185px
		position: relative
		background-image: url("../images/circle.png")
	.circle-small
		width: 85px
		height: 85px
		position: relative
		background-image: url("../images/circle-sm.png")
		img 
			margin: 0 auto
		span
			font-family: $sans
			font-size: 22px

		.number, .metric 
			display: block
		.number 
			position: relative
			top: 11px
		.metric 
			text-transform: uppercase
			font-size: 16px
			position: relative
			top: 5px
	.new
		width: 50px
		height: 50px
		background-color: $red
		border-radius: 50%
		position: absolute
		display: block
		top: 0
		right: 0
		span 
			color: #fff
			font-family: $sans
			text-transform: uppercase
			position: relative
			font-size: 20px
			top: 8px

.iconInfo 
	img 
		position: relative
		left: 10px
	li 
		margin-top: 15px
	.download 
		color: $red
		font-size: 12px
		font-family: $slab
		i 
			color: $grey

	h5 
		font-size: 16px
		margin: 0
		font-family: $sans
			
.productStats
	width: 100%!important  
	li 
		float: left
		clear: left
		img
			float: left 
			margin-right: 5px



	
.floatR
	float: right!important

.orDivider
	display: block

.orbit 
	li 
		background-size: cover 
		background-repeat: no-repeat
		min-height: 575px
		padding-top: 110px 

	.button 
		background-color: rgba(0,0,0,0.5)

.orbit-slide-number
	display: none

.orbit-bullets
	position: absolute
	left: 47%
	top: 45%

.orbit-bullets li.active
	background-color: $red
	border-color: #fff
	border-width: 1px

.orbit-bullets li
	background-color: transparent
	border-color: #fff
	border-width: 1px
	width: 12px
	height: 12px
	margin: 5px
	cursor: pointer

.orbit-bullets 
	padding: 10px
	background-color: rgba(0,0,0,0.3)