.doubleDivider
	height: 7px
	border-top: 1px solid #aaa9a7
	border-bottom: 1px solid #aaa9a7
	margin-top: 30px

.productInfo
	padding-bottom: 25px

.withDivider 
	border-right: 1px solid #dddddd 

.results
	margin-bottom: 25px

.resultContainer 
	padding-top: 15px

.mediaKitIcons 
	padding-bottom: 80px

.circleProducts 
	margin-top: 15px
	margin-bottom: 20px

.range 
	padding-top: 15px!important

.logo 
	position: relative
	left: -30px
