.stepList
	
	ul
		li
			counter-increment: step-counter
			border-bottom: 1px solid lighten(#000, 90%)
			padding-bottom: 30px
			margin-bottom: 30px

		li:last-child 
			border-bottom: none

		.stepTitle 
			display: block
			height: 100%
			text-align: center

		.stepTitle:after
			content: counter(step-counter)
			font-size: 34px
		li
			list-style: none
			p 
				display: inline


.newsletters 
	list-style: none