@mixin box-shadow($hor, $ver, $blur, $spread, $color)
	-webkit-box-shadow: $hor $ver $blur $spread $color
	box-shadow: $hor $ver $blur $spread $color

@mixin text-shadow($dist, $blur, $color)
	text-shadow: 0px $dist $blur $color
	filter: dropshadow(color=$color, offx=0, offy=$dist)

@mixin rounded($topL, $topR, $bottomR, $bottomL)
	-webkit-border-radius: $topL $topR $bottomR $bottomL
	border-radius: $topL $topR $bottomR $bottomL