// Breadcrumbs 

.breadcrumbContain 
	background-color: #19150f
.breadcrumbs
	margin: 0px 0px 15px 0px
	border-radius: 0
	border: none
	font-family: $slab
	padding: 0
	background: none

	&> ::before
		color: #fff
	a
		color: $red
		text-transform: none

	.current a
		color: #fff

.pullLeft 
	position: relative
	left: -60px

// Main Navigation
header
	background-color: #19150f

	nav
		margin-top: -25px
		ul
			display: table
			width: 100%
			list-style: none
			li
				display: table-cell
				text-align: center


				&:first-child
					text-align: left
				&:last-child
					text-align: right

					.triangle 
						left: 60%

				a 
					display: block
					color: #fff
					font-family: $sans
					text-transform: uppercase
					font-size: 22px
					font-weight: 300
					letter-spacing: 2px

				a:hover
					color: $red

				.dropdown
					background-color: #19150f
					text-transform: uppercase
					margin: 0
					position: absolute
					width: inherit
					z-index: 100
					display: block
					height: 0
					overflow: hidden
					-webkit-transition: opacity 300ms ease-in

					opacity: 0

					a 
						font-size: 16px

					li 
						color: #fff
						background-color: #19150f
						display: block
						text-align: left!important
						list-style: none
						width: 100%
						padding: 10px 30px 10px 15px
						border-top: 1px solid lighten(#000, 15%)
						border-bottom: 1px solid #000
						font-weight: 300
						letter-spacing: 1px
						position: relative
						z-index: 91



					li:hover
						background-color: lighten(#000, 10%)
				
			img 
				position: relative
				top: -20px

header nav li:hover ul.dropdown
	display: block
	opacity: 1
	height: auto

.viewRetailLink
	display: none

.search 
	position: relative
	top: 15px


.topLink .icon-angle-down
	display: none

.triangle
	border-left: 6px solid #262626
	border-top: 6px solid #262626
	width: 10px
	height: 10px
	transform: rotate(45deg)
	-ms-transform: rotate(45deg)
	-webkit-transform: rotate(45deg)
	position: relative
	top: 6px
	left: 20%
	z-index: 90

.icon-rotate
	transform: rotate(180deg)
	-ms-transform: rotate(180deg)
	-webkit-transform: rotate(180deg)

input[type=search]
	background: none
	background-image: url("../images/search-bg.png")
	background-repeat: no-repeat
	background-position: right 11px
	border: 1px solid #fff
	box-shadow: none
	color: #fff
	font-size: 12px
	padding: 19px

input[type=search]:focus 
	background: none
	background-image: url("../images/search-bg.png")
	background-repeat: no-repeat
	background-position: right 11px



.nav-toggle 
	border: 1px solid darken(#fff, 60%)
	padding: 10px
	font-family: $slab
	font-weight: normal
	font-style: normal
	text-decoration: inherit
	-webkit-font-smoothing: antialiased
	position: absolute
	top: 25px
	right: 15px
	color: #fff
	border: 1px solid rgba(0,0,0,0)
	-webkit-box-shadow: none
	box-shadow: none
	-webkit-box-shadow: inset 0px 0px 0px 1px #fff
	box-shadow: inset 0px 0px 0px 1px #fff
	outline: 1px solid #7d7c79

	&:after
		font-family: FontAwesome
		content: "\f0c9"
		margin-left: 5px

	&:hover 
		color: #fff
		border: 1px solid rgba(0,0,0,0)
		-webkit-box-shadow: none
		box-shadow: none
		-webkit-box-shadow: inset 0px 0px 0px 1px #fff
		box-shadow: inset 0px 0px 0px 1px #fff
		outline: 1px solid #7d7c79

.opened
	margin-top: 15px
	border-top: 1px solid darken(#fff, 60%)

.topNav 
	margin-bottom: 0

.pagination
	margin: 0px 0px 50px 0px
	padding-top: 10px
	font-family: $sans
	text-transform: uppercase
	color: #000
	font-size: 20px

.pagination li a 
	color: #000
	font-weight: 300!important

.pagination li.current a, .pagination li a:hover, .pagination li.current a:hover
	background: none
	color: $red
