.tile
	width: 100%
	min-height: 150px
	padding: 65px 0px 65px 0px
	background-color: #fff
	-webkit-background-size: cover
	background-size: cover
	position: relative 


.hero 
	background-color: #e2e2e2
	padding-top: 75px
	border-bottom: 1px solid rgba(255,255,255,0.2)
	-webkit-box-shadow: inset 0px -5px 30px 8px rgba(0, 0, 0, 0.3)
	box-shadow: inset 0px -5px 30px 8px rgba(0, 0, 0, 0.3)

.shadowpanel
	background-image: url("../images/shadowpanel.jpg")
	min-height: 421px

.bg1
	background-image: url("../images/wood.jpg")
	//box-shadow: 0px 0px 50px 40px rgba(0, 0, 0, 0.3) 
	box-shadow: 0px 0px 25px 20px rgba(0, 0, 0, 0.1) 
	z-index: 10!important
	opacity: 1
	border-bottom: 1px solid rgba(255, 255, 255, 0.1)

.bg2
	background-image: url("../images/newspaper.jpg")
	z-index: 1

.bg3
	background-image: url("../images/jar.jpg")
	z-index: 1



.sliderWithInfo
	background-size: auto
	background-attachment: scroll
	background-position: 0px 0px

.youMayAlso p
	text-align: center

// Removes bottom padding of tile
.noBottom 
	padding-bottom: 20px

.intro 
	padding: 20px 0px
	margin-bottom: 10px

