$script: Asterism-Regular
$slab: "museo-slab", "Georgia", "Times New Roman"
$sans: "atrament-web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif"

.singleQuote
	blockquote
		font-weight: 100


.textured 
	h1, h2, h3, h4, h5, h6, .subheader
		color: #fff

	.subheader
		+text-shadow(2px, 0px, #000)

	p 
		font-weight: 300
		color: #fff
		+text-shadow(2px, 0px, rgba(0,0,0,0.6))

	h2 
		+text-shadow(2px, 0px, #000)

	blockquote
		color: #fff
		+text-shadow(2px, 0px, #000)
		font-weight: 300

.singleColumnCopy
	p 
		font-size: 16px

.resetBtn i 
	padding-left: 6px
	
	color: darken(#53514e, 10%)
.resetBtn:hover i
	color: darken(#53514e, 20%)

.activeHead
	margin: 0
	position: relative
	top: 12px
	margin-bottom: 8px
	left: 11px
	font-size: 12px
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif
	color: lighten($grey, 50%)

.infoDetails 
	color: $red
	font-family: $slab
	font-size: 12px
	display: block

h1, h2, h3, h4, h5, h6, .subheader
	text-transform: uppercase

h1, h2, h3, h4, h5, h6
	letter-spacing: 0.1em
	color: #000
	font-weight: 600

h1
	font-family: $script
	font-weight: normal
	font-style: normal
	text-transform: none
	font-size: 72px
	color: #fff
	+text-shadow(2px, 0px, rgba(0,0,0,0.5))
h2, h3
	padding: 8px 0px 10px 0px
	border-top: 1px solid #d3d3d1
	border-bottom: 1px solid #d3d3d1
	display: block
	margin-bottom: 40px
	text-align: center
	font-size: 20px
	//+single-text-shadow
	line-height: 1.1
	font-weight: 500
	font-family: $sans
	font-size: 30px
	color: $red
	+text-shadow(2px, 0px, #d3d3d1)
	margin-top: 0

	&.subheader
		font-family: $slab
		border: none
		text-transform: none
		color: $copy
		line-height: 1.2
		font-weight: 100
		font-size: 20px
		text-shadow: none
		filter: none

h3, h3.subheader 
	font-size: 16px
	font-weight: 500

h5
	font-size: 18px
	color: $red 
	font-family: $sans
	font-weight: 300
	

h4.productTitle
	font-family: $sans
	text-transform: uppercase
	text-align: center
	border-bottom: 1px solid #d2d2d1
	font-weight: 500
	margin-top: 10px
	font-size: 18px
	margin-bottom: 0
	padding-bottom: 6px

h5.productWeight
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif
	text-transform: none
	text-align: center
	font-weight: 100
	font-size: 14px



p
	font-size: 16px
	font-family: $slab
	font-weight: 100

	.smallerText
		font-size: 13px


.iconInfo
	h5 
		color: #000
		font-weight: 500

	a 
		position: relative
		top: -5px

	a:hover 
		border-bottom: 1px solid $red
		padding-bottom: 1px
blockquote
	border: none
	font-family: $slab
	color: #000
	text-align: center
	font-size: 28px
	line-height: 1.2
	padding: 0px 15px

	&:before
		content: "\201C"

	&:after
		content: "\201D"

.itemInfo
	h1, h2, h3, h4, h5, h6, .subheader 
		color: #fff
		font-family: $sans

	h3 
		margin: 0
		font-size: 28px
	h4
		font-weight: 300
		margin-top: 0px

	p 
		font-family: $slab
		color: #fff
		font-weight: 500

h5.subheader 
	font-family: $sans 
	text-align: center
	font-size: 18px

.stepTitle
	text-transform: uppercase
	font-family: $sans
	font-size: 32px

.textured
	.stepTitle
		color: #fff
		+text-shadow(0px, 2px, #000)

.sampleRequest
	h2 
		margin-top: 150px

footer 
	h4, p
		color: #fff
		border-bottom: 1px solid #fff
		padding-bottom: 10px

	h4 
		font-size: 20px
		font-family: $sans
		font-weight: 300

	ul 
		li:first-child 
			padding: 0px 0px 10px 0px
		li 
			padding: 10px 0
			line-height: 1.05
			border-bottom: 1px dashed darken(#fff, 65%)
			a 
				color: darken(#fff, 25%)
				font-size: 11px
				font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif 
				text-transform: uppercase
				font-weight: 300
				letter-spacing: 1px
		
			a:hover 
				color: $red

.copyright
	h6 
		color: $red
		text-transform: none
		font-size: 10px
		font-weight: 500

.circleProducts
	h4 
		font-family: $sans
		font-weight: 800
		font-size: 18px
		margin-top: 15px
	li:hover 
		cursor: pointer
		h4 
			color: $red

.resultType
	font-weight: 700
	margin-bottom: 0

.result
	margin-top: 10px
	p 
		color: #000

.result:hover
	h2 
		color: #000

.distributors 
	margin-bottom: 25px 

	li 
		margin-bottom: 30px
	h4 
		font-family: $sans
		font-weight: 300
		border-bottom: 1px solid #b9b7b7
		text-align: center
		padding-bottom: 10px
		font-size: 20px

	span 
		font-family: $sans 
		font-weight: 300
		font-size: 20px
		line-height: 2.2
		width: 100%
		position: relative
		top: 5px
		left: 5px

		a, a:hover 
			color: #000

.orbit
	h5 
		color: #fff!important
	h1 
		line-height: 1.1
.frontTitle  
	h1 
		margin-top: 0
		margin-bottom: 0
		font-size: 114px
		letter-spacing: 1px
	h5
		margin-bottom: 10px
		font-size: 20px
		+text-shadow(2px, 0px, #000)
		color: $red

	.lowerTitle
		position: relative
		top: 20px
	p 
		color: #fff
		font-weight: 500
		+text-shadow(2px, 0px, rgba(0,0,0,0.5))
		width: 75%
		line-height: 1.2

.frontTitle.range 
	margin-top: 3e20px

.frontTitle.newsTitle
	margin-top: 140px

// Content Slider
.bjqs 
	h2 
		border: 0
		margin: 0

	p 
		margin-top: 15px

.nutritionalInfo 
	h6 
		font-family: $sans
		font-weight: 300
		font-size: 19px
		+text-shadow(2px, 0px, #000)

.productStats
	list-style: none

	float: left
	li 
		margin-top: 15px

	h5
		color: #000
		font-size: 14px 
		font-weight: 500
		margin: 0
		position: relative
		width: 110px
		float: left

	h6 
		color: $red
		font-family: $slab 
		text-transform: none
		font-weight: 300
		font-size: 13px
		position: relative
		width: 110px
		float: left

.textured
	.productStats 
		h5, h6 
			color: #fff


.filterCount
	display: none
	position: absolute
	right: 0
	top: 12px
	right: 15px
	color: $red 
	padding: 0px
	background-color: #FFF
	border-radius: 300px
	width: 15px
	height: 15px

	.count 
		position: relative
		top: -5px
		font-family: Arial, Helvetica, sans-serif
		font-size: 11px
		font-weight: bold

.ingredients
	h2 
		margin-top: 50px
	h5 
		color: #000 
		margin-bottom: 0
		font-weight: 500

	h6
		color: $red
		font-weight: 300
		font-size: 14px
		font-family: $slab
		text-transform: none
		margin-left: 8px
	h5:before 
		font-family: FontAwesome
		content: "\F111"
		font-size: 6px
		position: relative
		margin-right: 5px
		top: -4px

.newsletter 
	.checkboxText 
		color: #fff
	a 
		color: #fff!important

.newsletters
	padding-top: 30px
	li 
		margin-bottom: 25px
		border-bottom: 1px solid #d3d3d1
		padding: 0px 90px
	h2 
		border: none
		text-align: left
		margin-bottom: 15px
	.tileCTA 
		border: none
		padding-top: 15px
		padding-bottom: 15px


.orderSample 
	margin-top: 30px
	text-align: center
	color: lighten(#000, 50%)!important 
	a 
		color: $red 
		text-decoration: underline
		&:hover 
			color: lighten($red, 20%)

.result 
	h2 
		text-align: left 
		border: none
		margin-bottom: 15px
