.videoContainer
	@extend .contentImage

// Slider with info tile
.closeInfo
	color: #fff
	font-size: 24px
	float: right
	font-weight: 100
	padding: 13px
	cursor: pointer
	&:hover
		color: darken(#fff, 25%)

.item 
	padding: 15px

	img:hover 
		opacity: 0.9

.customSort
	position: absolute!important  
	left: -15px
	top: 0px!important

.itemInfo
	display: none
	background-color: $lightGrey
	position: relative
	top: -65px
	z-index: 1
	+rounded(0px, 3px, 3px, 3px)

.itemInfoContent
	padding: 50px 100px
.selectedItem
	border: 15px solid $lightGrey
	+rounded(3px, 3px, 0px, 0px)
	padding: 0px

.activeFilters, .reset
	display: none

.activeFilters li 
	label 
		margin: 0
		background-color: lighten($grey, 81%)
		padding: 2px 10px

.filtersList
	label
		span 
			color: #000!important
			font-size: 18px!important
	.checkbox
		


.resetBtn
	color: #fff 
	background-color: $lightGrey 
	padding: 10px 43px
	font-family: $sans
	text-transform: uppercase
	outline: none
	font-size: 18px
	border: none
	position: relative
	top: 10px
	float: right
	&:hover 
		border: none 
		outline: none
		color: #fff
		background-color: darken($lightGrey, 10%)
	&:active 
		border: none
		outline: none

.activeFilters
	position: relative
	top: 13px

.filtersInner
	form 
		padding: 0
		margin: 0 0 0 0!important

	

.textured
	.itemInfo
		background-color: #fff
		h3 
			color: $red

		h4, p
			color: $grey
			text-shadow: none

		.closeInfo 
			color: $red

	.selectedItem
		border-color: #fff

	.item
		img 
			border: 5px solid #fff
			+box-shadow(0px,0px,5px,0px,rgba(0,0,0,0.8))
			&:hover
				+box-shadow(0px,0px,25px,0px,rgba(0,0,0,0.8))
				cursor: pointer
				opacity: 1

.noBG 
	background: none

// Product Filters
.products 
	padding-top: 20px
[data-magellan-expedition]
	padding: 0px
	padding-top: 0px
	background-color: rgba(255,255,255,0.95)
	width: 100%
	.filters 

.filterText
	position: relative
	top: 0px

.sortRange
	background: #FFF!important
	margin-top: 5px!important
	position: absolute!important
	left: 0
	ul 
		top: 40px!important
	
		
.filters 
	border-top: 1px solid #d2d2d1
	border-bottom: 1px solid #d2d2d1
	height: auto
	display: block
	.filtersList 
		list-style: none
		li 
			margin-bottom: 0px
			padding-top: 0px!important
			padding-bottom: 0px!important

	.checkbox 
		margin-right: 10px
.filterTrigger
	text-align: right
	.button 
		margin-bottom: 0
		border: none
		box-shadow: none
	a 
		color: #fff 
		background-color: $red 
		padding: 15px 60px
		font-family: $sans
		text-transform: uppercase
		font-size: 20px
		outline: none
		border: none
		&:hover 
			border: none 
			outline: none
			background-color: darken($red, 10%)
		&:active 
			border: none
			outline: none
.filtersInner
	padding: 20px 0px 
	h5 
		color: #000
		padding-bottom: 4px
		border-bottom: 1px solid #d2d2d1

.filtersInner 
	display: none


// Sliders
.slideZoom
	position: absolute
	right: 0
	bottom: 0
	display: block
	width: 45px!important
	height: 45px


// Action Container (Newsletter Hero Tile)
.actionsContainer
	width: 28%
	background-color: rgba(0,0,0,0.5)
	position: absolute
	right: 0
	bottom: -65px
	i 
		display: block!important
		margin-bottom: 5px 
	ul 
		list-style: none
		display: table
		width: 100%
		margin: 0
		li 
			display: table-cell
			text-align: center 
			color: #fff
			font-family: $slab
			width: 100px
			padding: 10px

			a 
				color: #fff
				font-size: 14px

			a:hover 
				color: $red

// Map

.internationalMap 
	position: relative
	top: 60px
	background-image: url("../images/international.png")
	width: 329px
	height: 166px
	background-position: 0 0
	-webkit-transition: none
	transition: none

	&:hover 
		background-position: 0 166px
		cursor: pointer


.orbit-timer 
	display: none


// Content Slider

.recipeIntro
	.bjqs-controls 
		position: relative
		top: -180px

	.bjqs-markers 
		margin-top: 15px

.bjqs-controls
	position: relative
	top: -340px

	a 
		color: #fff
		font-size: 24px
		background-color: rgba(0,0,0,0.4)
		padding: 15px

.bjqs-next 
	position: relative
	right: 15px

	a:hover
		color: $red

.bjqs-prev
	position: relative
	left: 15px

	a:hover 
		color: $red

.bjqs-markers
	li 
		a
			background-color: rgba(0,0,0,0.4)
			border: 1px solid #fff
			margin: 5px
			width: 12px
			height: 12px
			display: block
			text-indent: -9999px	
			border-radius: 50%
	.active-marker 
		a 
			background-color: $red

.copyWithCarousel
	.bjqs-controls
		position: relative
		top: -180px
	.bjqs-markers
		margin-top: 15px

.filterSearch
	input[type=search]
		border: 1px solid #cccccc
		color: #000
		background: none
		background-image: url("../images/search-bg-dark.png")
		background-repeat: no-repeat
		background-position: right 11px
		float: right


.actionsContainer.newsletter
	position: static
	display: block
	width: auto
	color: #000
	background: none
	ul 
		display: inline
	li 
		width: auto 
		padding: 0
		padding-right: 25px
		a 
			color: #000


// Loading icon stuff

.loading 
	display: none
	position: absolute
	top: 0 
	left: 48%
	top: 120%
	z-index: 9999

	img 
		position: absolute
		left: 50%
		top: 50%
		background-color: #FFF
		border-radius: 400px
		padding: 5px
		box-sizing: border-box

.transparent 
	opacity: 0.5
	filter: alpha(opacity=50)



#privacy, #collection
	display: none


.doubleCta, .youMayAlso
	.button 
		color: #000!important
		border: 1px solid #fff!important
		outline: 1px solid #000
		box-shadow: inset 0px 0px 0px 1px #d3d3d1
	.button:hover 
		box-shadow: inset 0px 0px 1px #000!important
		outline: 1px solid #d3d3d1
