@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
<script type="text/javascript">

    $(document).ready(function () {
        createCaptcha();
    });

    function createObjectURL(file) {
        if (window.webkitURL) {
            return window.webkitURL.createObjectURL(file);
        } else if (window.URL && window.URL.createObjectURL) {
            return window.URL.createObjectURL(file);
        } else {
            return null;
        }
    }

    function createCaptcha()
    {
        
        $.ajax({
            url: '/umbraco/surface/CaptchaSurface/CaptchaImageContactUs',
            type: "POST",            
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',

            success: function (data) {

                var imgURL = jQuery.parseJSON(JSON.stringify(data));
                //empty the div
                $("#divCaptcha").empty();
                var $img = $('<img />', {
                    "alt": "test image",
                    "src": imgURL
                }).appendTo($('#divCaptcha'));
                $('#divCaptcha').append('<img src="/images/captcha_refresh.png" name="refresh" width="30" height="30" onclick="createCaptcha()" /> ')
            },

            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.statusText);
            }
        });
    }


</script>
<div style="border:solid; border-color:gray; border-width:1px" id="divCaptcha"></div>
<input id="txtCaptchResponse" type="text" required>
