﻿@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.media
@model umbraco.NodeFactory.Node

@{
    string imageUrl = Model.GetProperty("image").Value + ".ashx?width=500&mode=crop&crop=auto&anchor=middlecenter&scale=both";
 }
<!-- Copy with image -->
<div class="tile copyWithImage">
    <div class="row">
        <div class="large-6 large-centered columns">
            <center><h2>@Model.GetProperty("title").Value</h2></center>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            @Html.Raw(Model.GetProperty("copy").Value)
        </div>
        <div class="large-6 columns">

            <img src="@imageUrl" alt="" class="contentImage">
        </div>
    </div>
</div>
