﻿@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.media
@model umbraco.NodeFactory.Node
	
	  <!-- Copy with Pull Quote tile -->
  <div class="tile copyWithQuote">
  		<div class="row">
  			<div class="large-6 large-centered columns">
  				<center><h2>@Model.GetProperty("title").Value</h2></center>
  			</div>
  		</div>
		<div class="row">
			<div class="large-6 push-6 columns">
		  		<blockquote>@Html.Raw(Model.GetProperty("quote").Value)</blockquote>
		  	</div>
		  	<div class="large-6 pull-6 columns">
		  		   @Html.Raw(Model.GetProperty("copy").Value)
		  	</div>	
		</div>
  </div>