﻿@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.media
@model umbraco.NodeFactory.Node
<!-- COPY WITH CAROUSEL TILES -->
<div class="tile copyWithCarousel">
    <div class="row">
        <div class="large-6 large-centered columns">
            <center><h2>@Model.GetProperty("title").Value</h2></center>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            @Html.Raw(Model.GetProperty("copy").Value)
        </div>
        <div class="large-6 columns">
            <div class="contentSlider">
                <ul class="bjqs">
                    @{
                        //Bind Carousal
                        var allImages = Model.GetProperty<string>("images");
                        if (allImages.Contains(','))
                        {
                            var arrAllImages = allImages.Split(',');
                            if (arrAllImages != null && arrAllImages.Count() > 0)
                            {
                                foreach (dynamic imageId in arrAllImages)
                                {
                                    if (imageId != null)
                                    {
                                        var imageUrl = SandhurstWebSite.Helper.Common.GetImageUrl(imageId) + ".ashx?width=500&height=300&mode=crop&crop=auto&anchor=middlecenter&scale=both";
                                      
                        <li>
                            <img src="@imageUrl" alt="" class="slideImg">
                        </li>
                                    }
                                }
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
