﻿@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.media
@model umbraco.NodeFactory.Node

<!-- Copy with Video -->
<div class="tile copyWithVideo">
    <div class="row">
        <div class="large-6 large-centered columns">
            <center><h2>@Model.GetProperty("title").Value</h2></center>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            @Html.Raw(Model.GetProperty("copy").Value)
        </div>
        @{            
            //Code to get you tube video id from URL. The Id then used for create iframe URL
            var match = System.Text.RegularExpressions.Regex.Match(Model.GetProperty("youTubeURL").Value,
                                          "^http://(?<domain>([^./]+\\.)*youtube\\.com)(/v/|/watch\\?v=)(?<videoId>[A-Za-z0-9_-]{11})", System.Text.RegularExpressions.RegexOptions.IgnoreCase);

            String strYouTubeId = string.Empty;
            if (match.Success)
            {
                strYouTubeId = match.Groups[4].Value;
            }

            string strCompleteUrl = "https://www.youtube.com/embed/" + strYouTubeId + "?controls=0&modestbranding=1&showinfo=0";
                    
            <div class="large-6 columns">
                <div class="videoContainer">
                    <iframe id="ytplayer" type="text/html" width="100%" height="300" src="@strCompleteUrl" frameborder="0" allowfullscreen></iframe>
                </div>

            </div>
        }

    </div>
</div>
