﻿@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.media
@model umbraco.NodeFactory.Node
	
	  <!-- Two column copy -->
  <div class="tile twoColumnCopy">
		<div class="row">
		  	<div class="large-6 columns">
		  		<div class="row">
		  			<div class="large-10 large-centered columns">
		  				<center><h2>@Model.GetProperty("column1Heading").Value</h2></center>
		  			</div>
		  		</div>
		  		<div class="row">
		  			<div class="large-12 columns">
		  				@Html.Raw(Model.GetProperty("column1Text").Value)
		  			</div>
		  		</div>
		  	</div>
		  	<div class="large-6 columns">
		  		<div class="row">
		  			<div class="large-10 large-centered columns">
		  				<center><h2>@Model.GetProperty("column2Heading").Value</h2></center>
		  			</div>
		  		</div>
		  		<div class="row">
		  			<div class="large-12 columns">
		  				@Html.Raw(Model.GetProperty("column2Text").Value)
		  			</div>
		  		</div>
		  	</div>
		</div>
  </div>