﻿@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.media
@model umbraco.NodeFactory.Node

<!-- Double Cta with BG1 -->
<div class="tile doubleCta">
    <div class="row">
        <div class="large-8 large-centered columns">
            <h5 class="subheader">@Model.GetProperty("callToAction").Value</h5>
            <h2>@Model.GetProperty("heading").Value</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-10 large-centered columns">
            @Html.Raw(Model.GetProperty("description").Value)
	  	
         
                  @{
                      string niceURL1 = Model.GetProperty("action1Title").Value != null ? new Node(int.Parse(Model.GetProperty<string>("action1Link"))).NiceUrl : "#";

                      string niceURL2 = Model.GetProperty("action2Title").Value != null ? new Node(int.Parse(Model.GetProperty<string>("action2Link"))).NiceUrl : "#";

                      <center> 
	  			        <a href="@niceURL1" class="button">@Model.GetProperty("action1Title").Value <i class="icon-angle-right"></i></a>
	  			        <img src="/images/or.png" alt="or" class="orDivider" />
	  			        <a href="@niceURL2" class="button">@Model.GetProperty("action2Title").Value<i class="icon-angle-right"></i></a>
                      </center>
                  }

        </div>
    </div>
</div>
