@*@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>*@
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using umbraco.NodeFactory;
@using SandhurstWebSite.Helper;

@{    
    Node navigation = new Node(SandhurstWebSite.Helper.Common.GetNodeIdByNodeName("Navigation"));
    var navigationItems = navigation.ChildrenAsList.OrderBy(x => x.Name).ToList();
}

<footer>
    <div class="row">
        @if (navigationItems != null && navigationItems.Count > 0)
        {
            foreach (var mainMenu in navigationItems)
            {
                var mainMenuItems = mainMenu.ChildrenAsList.OrderBy(obj => obj.GetProperty<int>("menuItemIndex"));
                foreach (var page in mainMenuItems)
                {
            <div class="large-2 columns">
                <h4>@page.GetProperty("menuName").Value</h4>
                @{
                    var subMenu = page.ChildrenAsList;
                    subMenu = subMenu.OrderBy(obj => obj.GetProperty<int>("topNavigationIndex")).ToList();

                    if (subMenu != null && subMenu.Count() > 0)
                    { 
                    <ul>
                        @foreach (var subPage in subMenu)
                        {
                            string niceURL = string.IsNullOrEmpty(subPage.GetProperty("linkTo").Value) ? "#" : new Node(int.Parse(subPage.GetProperty("linkTo").Value)).NiceUrl;
                            <li><a href="@niceURL">@subPage.GetProperty("menuName").Value</a></li>
                        }
                    </ul>
                    }
                }
            </div>
                }
            }
        }
    </div>
</footer>
<div class="copyright">
	<div class="row">
		<div class="large-8 large-centered columns">
			<center><h6>Copyright Sandhurst Fine Foods <span class="theYear">year</span></h6></center>
		</div>
	</div>
</div> 
