@*@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>*@
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using umbraco.NodeFactory;
@using SandhurstWebSite.Helper;

<header>
    <div class="row">
        <div class="large-12 columns">

            <div class="row">
                <div class="large-3 columns">
                    <input type="search" class="search" id="txtSearch" placeholder="Search" />
                    <div id="divSearch" class="style-btn"><img src="/images/search-bg.png" alt="Search"/></div>
                </div>
                <div class="large-9 columns">
                    <a class="medium button right viewRetailBtn" href="http://retail.sandhurstfinefoods.com.au" target="_blank">View our Retail Site <i class="icon-angle-right"></i></a>
                </div>
            </div>

            <img src="/images/logo_sm.png" alt="Sandhurst Fine Foods" class="littleLogo">

            <nav>
                @{              
                    
                    Node homeNode = new Node(SandhurstWebSite.Helper.Common.GetNodeIdByNodeName("Sandhurst Website"));
                    Node Navigation = new Node(SandhurstWebSite.Helper.Common.GetNodeIdByNodeName("Navigation"));
                    Node leftNavigation = new Node(Navigation.ChildrenAsList.Find(obj => obj.Name == "Left Navigation").Id);
                    Node rightNavigation = new Node(Navigation.ChildrenAsList.Find(obj => obj.Name == "Right Navigation").Id);
                                       
                                    

                    <ul class="topNav">
                        @{
                            var leftMenu = leftNavigation.ChildrenAsList.OrderBy(obj => obj.GetProperty<int>("menuItemIndex"));
                            var rightMenu = rightNavigation.ChildrenAsList.OrderBy(obj => obj.GetProperty<int>("menuItemIndex")); 
                        }

                        @foreach (var page in leftMenu)
                        {
                            <li>
                                <a href="#" class="topLink">@page.GetProperty("menuName").Value<i class="icon-angle-down"></i></a>
                                @{
                            var subMenu = page.ChildrenAsList.OrderBy(obj => obj.GetProperty<int>("topNavigationIndex"));

                            if (subMenu != null && subMenu.Count() > 0)
                            { 
                                    <ul class="dropdown">
                                        <div class="triangle"></div>

                                        @foreach (var subPage in subMenu)
                                        {
                                            string niceURL = string.IsNullOrEmpty(subPage.GetProperty("linkTo").Value) ? "#" : new Node(subPage.GetProperty<int>("linkTo")).NiceUrl;
                                            <li><a href="@niceURL">@subPage.GetProperty("menuName").Value</a></li>
                                        }
                                    </ul>
                            }
                                }
                            </li>
                        }
                        <li class="logo">
                            <a href="@homeNode.NiceUrl">
                                <img src="~/images/logo.png" alt="Sandhurst Fine Foods"></a>
                        </li>
                        @foreach (var page in rightMenu)
                        {
                            <li class="pullLeft">
                                <a href="#" class="topLink">@page.Name<i class="icon-angle-down"></i></a>
                                @{
                            var subMenu = page.ChildrenAsList.OrderBy(obj => obj.GetProperty<int>("topNavigationIndex"));
                            if (subMenu != null && subMenu.Count() > 0)
                            { 
                                    <ul class="dropdown">
                                        <div class="triangle"></div>

                                        @foreach (var subPage in subMenu)
                                        {
                                            string niceURL = string.IsNullOrEmpty(subPage.GetProperty("linkTo").Value) ? "#" : new Node(subPage.GetProperty<int>("linkTo")).NiceUrl;
                                            <li><a href="@niceURL">@subPage.GetProperty("menuName").Value</a></li>
                                        }
                                    </ul>
                            }
                                }
                            </li>
                        }
                        <li class="viewRetailLink">
                            <a href="#" class="topLink">Retail Site <i class="icon-angle-right"></i></a>
                        </li>
                    </ul>
                }

            </nav>

        </div>
    </div>
</header>