﻿@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.media
@model umbraco.NodeFactory.Node

@{
    string imageUrl = string.Empty;

    if (Model.GetProperty("background").Value != null)
    {
        var typedMultiNodeTreePicker = new Umbraco.Core.Dynamics.DynamicXml(Model.GetProperty<string>("background"));
        imageUrl = SandhurstWebSite.Helper.Common.GetImageUrl(typedMultiNodeTreePicker.InnerText) + ".ashx?width=1265&height=291anchor=topleft&scale=both";
    }
    else
    {
        imageUrl = "/images/heroImages/redboard.jpg.ashx?width=1265&height=291anchor=topleft&scale=both";
    }
    <div class="tile hero" style="background-image: url(@imageUrl);">
        <div class="row">
            <div class="large-8 large-centered columns">
                <center><h1>@Model.GetProperty("title").Value</h1></center>
            </div>
        </div>
    </div>
}

