﻿@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.media
@model umbraco.NodeFactory.Node
	
	<!-- Introduction Tile  -->
  <div class="tile intro">
		<div class="row">
		  	<div class="large-8 large-centered columns">
		  		<h2 class="subheader">@Html.Raw(Model.GetProperty("copy").Value)</h2>
		  	</div>
		</div>
  </div>