﻿@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.media
@model umbraco.NodeFactory.Node
	
	  <!-- Single column copy -->
  <div class="tile singleColumnCopy">
  		<div class="row">
  			<div class="large-6 large-centered columns">
  				<center><h2>@Model.GetProperty("heading").Value</h2></center>
  			</div>
  		</div>
		<div class="row">
			<div class="large-8 columns large-centered">@Html.Raw(Model.GetProperty("copy").Value)
		  	</div>	
		</div>
  </div>