﻿@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.media
@model umbraco.NodeFactory.Node
	
	  <!-- Single Quote -->
  <div class="tile singleQuote">
		<div class="row">
		  	<div class="large-8 large-centered columns">
		  		<blockquote> @Html.Raw(Model.GetProperty("copy").Value)</blockquote>
		  	</div>
		</div>
  </div>