﻿@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.media
@using System.Linq;
@using System.Xml;
@using System.Xml.Linq;
@model umbraco.NodeFactory.Node


<!-- Step List Tile -->
<div class="tile stepList">
    <div class="row">
        <div class="large-6 large-centered columns">
            <center><h2>@Model.GetProperty("heading").Value</h2></center>
        </div>
    </div>
    <div class="row">
        <div class="large-10 columns large-centered">
            <ul>
                @{
                    string steps = Model.GetProperty<string>("steps");

                    if (!string.IsNullOrEmpty(steps))
                    {
                        XElement xmlTree = XElement.Parse(steps);

                        foreach (XElement xle in xmlTree.Elements())
                        {
                            if (xle != null && !string.IsNullOrEmpty(xle.Value))
                            {
                                string strStep = xle.Value;
        
                    <li>
                        <div class="row">
                            <div class="large-4 columns">
                                <div class="stepTitle">Step </div>
                            </div>
                            <div class="large-8 columns">
                                <p>
                                    @Html.Raw(strStep)
                                </p>
                            </div>
                        </div>
                    </li>
                            }
                        }
                    }
                }                
            </ul>
        </div>
    </div>
</div>
