﻿@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.media
@model umbraco.NodeFactory.Node

<!-- You May Also Like -->
<div class="tile youMayAlso">
    <div class="row">
        <div class="large-8 large-centered columns">
            <h5 class="subheader">@Model.GetProperty("callToAction").Value</h5>
            <h2>@Model.GetProperty("heading").Value</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-10 large-centered columns">
            @{string niceURL = Model.GetProperty("actionLinkUrl").Value != null ? new Node(int.Parse(Model.GetProperty<string>("actionLinkUrl"))).NiceUrl : "#";
              @Html.Raw(Model.GetProperty("description").Value)
			  	
                <center><a href="@niceURL" class="button">@Html.Raw(Model.GetProperty("actionLinkText").Value) <i class="icon-angle-right"></i></a></center>
            }

        </div>
    </div>
</div>
