body {
	text-shadow: none!important;
}

h1, h2, h3, h4, h5, h6, p, .subheader {
	text-shadow: none!important;
	filter: none!important;
}

input[type=text], input[type=search] {
	padding: 0px!important;
	min-height: 40px;
	padding-left: 5px!important;
}