/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 220px) 
and (max-width : 769px) {
/* Styles */

.filtersList {
	display: none;
}
.pullLeft {
	left: 0px;
}
.is-open {
	display: block!important;
}
	.button {
		width: 100%;
	}

	.viewRetailBtn {
		display: none;
	}

	.viewRetailLink {
		display: block;
	}

	.filtersInner h5 {
		padding-bottom: 10px;
	}

	.logo {
		display: none!important;
	}
		.topNav li {
		display: inline;
	}
	.topNav li:first-child, .topNav li:last-child, .topNav li {
		text-align: left;
	}
	.closed li  {
		display: none;
	}
	.open li {
		display: block;
	}
	.search {
		display: none!important;
	}
	.open li.logo {
		display: none!important;
	}

	header nav ul li .dropdown {
		display: none;
		height: auto;
		opacity: 1;
		position: static;
	}
	header nav ul li .dropdown li {
		padding: 15px 0;
	}
	header nav ul li:hover {
		background: none!important;
	}
	header nav ul li .topLink {
		padding: 8px 0px!important;
		border-bottom: 1px solid #666666
	}
	header nav ul li a:hover {
		color: #fff;
	}
	.topLink .icon-angle-down, .topLink .icon-angle-right {
		display: block;
		float: right;
		position: relative;
		top: 5px;
		color: #fff;
	}

	.triangle {
		left: 15px!important;
	}

header nav li:hover ul.dropdown {
  display: none;
  opacity: 1;
  height: auto;
}

.littleLogo {
	display: block;
}

.triangle {
	display: none;
}

.dropdown {
	position: relative;
	top: -5px;
}

.dropdown li:first-child {
	border: none!important;
}

.dropdown li:last-child {
	border-bottom: none!important;
}

.dropdown li {
	padding-left: 20px!important;
}

.filters .default {
	display: none;
}

nav {
	margin-top: 0px!important;
}

.breadcrumbs {
	margin: 15px 0px;
}

.frontTitle h1 {
	font-size: 80px;
}

nav {
	padding-bottom: 20px;
}
.iconInfo li {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 15px;
}
.iconInfo {
	padding-top: 20px;
}
.iconInfo img {
	margin-bottom: 20px;
	position: relative;
	left: 0px;
}
.sampleRequest h2 {
	margin-top: 0px;
}
.checkbox {
	top: 15px;
}

.checkboxContain {
	margin-bottom: 25px!important;
}
.tileCTA {
	font-size: 14px;
}

.sort .right {
	float: left!important;
	text-align: center!important;
}

.sortTile {
	padding-top: 10px;
}
.distributorLocation {
	padding-bottom: 0px!important;
	margin-bottom: 0px;
	min-height: 0;
}
form.custom .custom.dropdown.open.large ul {
	min-width: 100%;
	max-height: none!important;
}

form.custom .custom.dropdown.open.large ul li {
	padding: 15px 0px;
	text-align: left;
}
label.inline {
	padding: 0;
}
.distributors h4 {
	text-align: left;
}
.actionsContainer {
	position: static;
	width: auto;
}
.bjqs-controls {
	position: relative;
	top: -310px;
}
.frontTitle.newsTitle {
	margin-top: 0;
}
.checkboxContain {
	margin-bottom: 10px;
}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
.checkFilters {
	display: block;
}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */

}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}


/* firefox fixes */

@-moz-document url-prefix() {
    input[type=text] {
    	padding: 0px!important;
    	min-height: 40px;
    	padding-left: 10px!important;
    }
    input[type=search] {
    	padding: 0px!important;
    	min-height: 40px;
    	padding-left: 10px!important;
    }
}