/* line 1, ../sass/partials/_layout.sass */
.doubleDivider {
  height: 7px;
  border-top: 1px solid #aaa9a7;
  border-bottom: 1px solid #aaa9a7;
  margin-top: 30px;
}

/* line 7, ../sass/partials/_layout.sass */
.productInfo {
  padding-bottom: 25px;
}

/* line 10, ../sass/partials/_layout.sass */
.withDivider {
  border-right: 1px solid #dddddd;
}

/* line 13, ../sass/partials/_layout.sass */
.results {
  margin-bottom: 25px;
}

/* line 16, ../sass/partials/_layout.sass */
.resultContainer {
  padding-top: 15px;
}

/* line 19, ../sass/partials/_layout.sass */
.mediaKitIcons {
  padding-bottom: 80px;
}

/* line 22, ../sass/partials/_layout.sass */
.circleProducts {
  margin-top: 15px;
  margin-bottom: 20px;
}

/* line 26, ../sass/partials/_layout.sass */
.range {
  padding-top: 15px !important;
}

/* line 29, ../sass/partials/_layout.sass */
.logo {
  position: relative;
  left: -30px;
}

/* line 6, ../sass/partials/_typography.sass */
.singleQuote blockquote {
  font-weight: 100;
}

/* line 11, ../sass/partials/_typography.sass */
.textured h1, .textured h2, .textured h3, .textured h4, .textured h5, .textured h6, .textured .subheader {
  color: white;
}
/* line 14, ../sass/partials/_typography.sass */
.textured .subheader {
  text-shadow: 0px 2px 0px black;
  filter: dropshadow(color=black, offx=0, offy=2px);
}
/* line 17, ../sass/partials/_typography.sass */
.textured p, .textured p span {
  font-weight: 300;
  color: white;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6);
  filter: dropshadow(color=rgba(0, 0, 0, 0.6), offx=0, offy=2px);
}
/* line 22, ../sass/partials/_typography.sass */
.textured h2 {
  text-shadow: 0px 2px 0px black;
  filter: dropshadow(color=black, offx=0, offy=2px);
}
/* line 25, ../sass/partials/_typography.sass */
.textured blockquote, .textured blockquote span {
  color: white;
  text-shadow: 0px 2px 0px black;
  filter: dropshadow(color=black, offx=0, offy=2px);
  font-weight: 300;
}

/* line 31, ../sass/partials/_typography.sass */
.singleColumnCopy p {
  font-size: 16px;
}

/* line 34, ../sass/partials/_typography.sass */
.resetBtn i {
  padding-left: 6px;
  color: #393735;
}

/* line 38, ../sass/partials/_typography.sass */
.resetBtn:hover i {
  color: #1e1e1d;
}

/* line 41, ../sass/partials/_typography.sass */
.activeHead {
  margin: 0;
  position: relative;
  top: 12px;
  margin-bottom: 8px;
  left: 11px;
  font-size: 12px;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  color: darkgrey;
}

/* line 51, ../sass/partials/_typography.sass */
.infoDetails {
  color: #c10f1e;
  font-family: "museo-slab", "Georgia", "Times New Roman";
  font-size: 12px;
  display: block;
}

/* line 57, ../sass/partials/_typography.sass */
h1, h2, h3, h4, h5, h6, .subheader {
  text-transform: uppercase;
}

/* line 60, ../sass/partials/_typography.sass */
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.1em;
  color: black;
  font-weight: 600;
}

/* line 65, ../sass/partials/_typography.sass */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .subheader a, blockquote a {
  color: #c10f1e;
}

/* line 67, ../sass/partials/_typography.sass */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .subheader a:hover, blockquote a:hover {
  color: #920b17;
}

h1 {
  font-family: Asterism-Regular;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  font-size: 72px;
  color: white;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
  filter: dropshadow(color=rgba(0, 0, 0, 0.5), offx=0, offy=2px);
}

/* line 73, ../sass/partials/_typography.sass */
h2, h3 {
  padding: 8px 0px 10px 0px;
  border-top: 1px solid #d3d3d1;
  border-bottom: 1px solid #d3d3d1;
  display: block;
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
  line-height: 1.1;
  font-weight: 500;
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 30px;
  color: #c10f1e;
  text-shadow: 0px 2px 0px #d3d3d1;
  filter: dropshadow(color=#d3d3d1, offx=0, offy=2px);
  margin-top: 0;
}
/* line 90, ../sass/partials/_typography.sass */
h2.subheader, h3.subheader {
  font-family: "museo-slab", "Georgia", "Times New Roman";
  border: none;
  text-transform: none;
  color: #14110e;
  line-height: 1.2;
  font-weight: 100;
  font-size: 20px;
  text-shadow: none;
  filter: none;
}

/* line 101, ../sass/partials/_typography.sass */
h3, h3.subheader {
  font-size: 16px;
  font-weight: 500;
}

/* line 105, ../sass/partials/_typography.sass */
h5 {
  font-size: 18px;
  color: #c10f1e;
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-weight: 300;
}

/* line 112, ../sass/partials/_typography.sass */
h4.productTitle {
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #d2d2d1;
  font-weight: 500;
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 0;
  padding-bottom: 6px;
}

/* line 123, ../sass/partials/_typography.sass */
h5.productWeight {
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
  text-transform: none;
  text-align: center;
  font-weight: 100;
  font-size: 14px;
}

/* line 132, ../sass/partials/_typography.sass */
p {
  font-size: 16px;
  font-family: "museo-slab", "Georgia", "Times New Roman";
  font-weight: 100;
}
/* line 137, ../sass/partials/_typography.sass */
p .smallerText {
  font-size: 13px;
}

/* line 142, ../sass/partials/_typography.sass */
.iconInfo h5 {
  color: black;
  font-weight: 500;
}
/* line 146, ../sass/partials/_typography.sass */
.iconInfo a {
  position: relative;
  top: -5px;
}
/* line 150, ../sass/partials/_typography.sass */
.iconInfo a:hover {
  border-bottom: 1px solid #c10f1e;
  padding-bottom: 1px;
}

/* line 153, ../sass/partials/_typography.sass */
blockquote {
  border: none;
  font-family: "museo-slab", "Georgia", "Times New Roman";
  color: black;
  text-align: center;
  font-size: 28px;
  line-height: 1.2;
  padding: 0px 15px;
}
/* line 162, ../sass/partials/_typography.sass */
blockquote:before {
  content: "\201C";
}
/* line 165, ../sass/partials/_typography.sass */
blockquote:after {
  content: "\201D";
}

/* line 169, ../sass/partials/_typography.sass */
.itemInfo h1, .itemInfo h2, .itemInfo h3, .itemInfo h4, .itemInfo h5, .itemInfo h6, .itemInfo .subheader {
  color: white;
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}
/* line 173, ../sass/partials/_typography.sass */
.itemInfo h3 {
  margin: 0;
  font-size: 28px;
}
/* line 176, ../sass/partials/_typography.sass */
.itemInfo h4 {
  font-weight: 300;
  margin-top: 0px;
}
/* line 180, ../sass/partials/_typography.sass */
.itemInfo p {
  font-family: "museo-slab", "Georgia", "Times New Roman";
  color: white;
  font-weight: 500;
}

/* line 185, ../sass/partials/_typography.sass */
h5.subheader {
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-align: center;
  font-size: 18px;
}

/* line 190, ../sass/partials/_typography.sass */
.stepTitle {
  text-transform: uppercase;
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 32px;
}

/* line 196, ../sass/partials/_typography.sass */
.textured .stepTitle {
  color: white;
  text-shadow: 0px 0px 2px black;
  filter: dropshadow(color=black, offx=0, offy=0px);
}

/* line 201, ../sass/partials/_typography.sass */
.sampleRequest h2 {
  margin-top: 150px;
}

/* line 205, ../sass/partials/_typography.sass */
footer h4, footer p {
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}
/* line 210, ../sass/partials/_typography.sass */
footer h4 {
  font-size: 20px;
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-weight: 300;
}
/* line 216, ../sass/partials/_typography.sass */
footer ul li:first-child {
  padding: 0px 0px 10px 0px;
}
/* line 218, ../sass/partials/_typography.sass */
footer ul li {
  padding: 10px 0;
  line-height: 1.05;
  border-bottom: 1px dashed #595959;
}
/* line 222, ../sass/partials/_typography.sass */
footer ul li a {
  color: #bfbfbf;
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}
/* line 230, ../sass/partials/_typography.sass */
footer ul li a:hover {
  color: #c10f1e;
}

/* line 234, ../sass/partials/_typography.sass */
.copyright h6 {
  color: #c10f1e;
  text-transform: none;
  font-size: 10px;
  font-weight: 500;
}

/* line 241, ../sass/partials/_typography.sass */
.circleProducts h4 {
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-weight: 800;
  font-size: 18px;
  margin-top: 15px;
}
/* line 246, ../sass/partials/_typography.sass */
.circleProducts li:hover {
  cursor: pointer;
}
/* line 248, ../sass/partials/_typography.sass */
.circleProducts li:hover h4 {
  color: #c10f1e;
}

/* line 251, ../sass/partials/_typography.sass */
.resultType {
  font-weight: 700;
  margin-bottom: 0;
}

/* line 255, ../sass/partials/_typography.sass */
.result {
  margin-top: 10px;
}
/* line 257, ../sass/partials/_typography.sass */
.result p {
  color: black;
}

/* line 261, ../sass/partials/_typography.sass */
.result:hover h2 {
  color: black;
}

/* line 264, ../sass/partials/_typography.sass */
.distributors {
  margin-bottom: 25px;
}
/* line 267, ../sass/partials/_typography.sass */
.distributors li {
  margin-bottom: 30px;
}
/* line 269, ../sass/partials/_typography.sass */
.distributors h4 {
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-weight: 300;
  border-bottom: 1px solid #b9b7b7;
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
}
/* line 277, ../sass/partials/_typography.sass */
.distributors span {
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-weight: 300;
  font-size: 20px;
  line-height: 2.2;
  width: 100%;
  position: relative;
  top: 5px;
  left: 5px;
}
/* line 287, ../sass/partials/_typography.sass */
.distributors span a, .distributors span a:hover {
  color: black;
}

/* line 291, ../sass/partials/_typography.sass */
.orbit h5 {
  color: white !important;
}
/* line 293, ../sass/partials/_typography.sass */
.orbit h1 {
  line-height: 1.1;
}

/* line 296, ../sass/partials/_typography.sass */
.frontTitle h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 114px;
  letter-spacing: 1px;
}
/* line 301, ../sass/partials/_typography.sass */
.frontTitle h5 {
  margin-bottom: 10px;
  font-size: 20px;
  text-shadow: 0px 2px 0px black;
  filter: dropshadow(color=black, offx=0, offy=2px);
  color: #c10f1e;
}
/* line 307, ../sass/partials/_typography.sass */
.frontTitle .lowerTitle {
  position: relative;
  top: 20px;
}
/* line 310, ../sass/partials/_typography.sass */
.frontTitle p {
  color: white;
  font-weight: 500;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
  filter: dropshadow(color=rgba(0, 0, 0, 0.5), offx=0, offy=2px);
  width: 75%;
  line-height: 1.2;
}

/* line 317, ../sass/partials/_typography.sass */
.frontTitle.range {
  margin-top: 3e 20px;
}

/* line 320, ../sass/partials/_typography.sass */
.frontTitle.newsTitle {
  margin-top: 140px;
}

/* line 325, ../sass/partials/_typography.sass */
.bjqs h2 {
  border: 0;
  margin: 0;
}
/* line 329, ../sass/partials/_typography.sass */
.bjqs p {
  margin-top: 15px;
}

/* line 333, ../sass/partials/_typography.sass */
.nutritionalInfo h6 {
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-weight: 300;
  font-size: 19px;
  text-shadow: 0px 2px 0px black;
  filter: dropshadow(color=black, offx=0, offy=2px);
}

/* line 339, ../sass/partials/_typography.sass */
.productStats {
  list-style: none;
  float: left;
}
/* line 343, ../sass/partials/_typography.sass */
.productStats li {
  margin-top: 15px;
}
/* line 346, ../sass/partials/_typography.sass */
.productStats h5 {
  color: black;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  position: relative;
  width: 110px;
  float: left;
}
/* line 355, ../sass/partials/_typography.sass */
.productStats h6 {
  color: #c10f1e;
  font-family: "museo-slab", "Georgia", "Times New Roman";
  text-transform: none;
  font-weight: 300;
  font-size: 13px;
  position: relative;
  width: 110px;
  float: left;
}

/* line 367, ../sass/partials/_typography.sass */
.textured .productStats h5, .textured .productStats h6 {
  color: white;
}

/* line 371, ../sass/partials/_typography.sass */
.filterCount {
  display: none;
  position: absolute;
  right: 0;
  top: 12px;
  right: 15px;
  color: #c10f1e;
  padding: 0px;
  background-color: white;
  border-radius: 300px;
  width: 15px;
  height: 15px;
}
/* line 384, ../sass/partials/_typography.sass */
.filterCount .count {
  position: relative;
  top: -5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
}

/* line 392, ../sass/partials/_typography.sass */
.ingredients h2 {
  margin-top: 50px;
}
/* line 394, ../sass/partials/_typography.sass */
.ingredients h5 {
  color: black;
  margin-bottom: 0;
  font-weight: 500;
}
/* line 399, ../sass/partials/_typography.sass */
.ingredients h6 {
  color: #c10f1e;
  font-weight: 300;
  font-size: 14px;
  font-family: "museo-slab", "Georgia", "Times New Roman";
  text-transform: none;
  margin-left: 8px;
}
/* line 406, ../sass/partials/_typography.sass */
.ingredients h5:before {
  font-family: FontAwesome;
  content: "\F111";
  font-size: 6px;
  position: relative;
  margin-right: 5px;
  top: -4px;
}

/* line 415, ../sass/partials/_typography.sass */
.newsletter .checkboxText {
  color: white;
}
/* line 417, ../sass/partials/_typography.sass */
.newsletter a {
  color: white !important;
}

/* line 420, ../sass/partials/_typography.sass */
.newsletters {
  padding-top: 30px;
}
/* line 422, ../sass/partials/_typography.sass */
.newsletters li {
  margin-bottom: 25px;
  border-bottom: 1px solid #d3d3d1;
  padding: 0px 90px;
}
/* line 426, ../sass/partials/_typography.sass */
.newsletters h2 {
  border: none;
  text-align: left;
  margin-bottom: 15px;
}
/* line 430, ../sass/partials/_typography.sass */
.newsletters .tileCTA {
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 436, ../sass/partials/_typography.sass */
.orderSample {
  margin-top: 30px;
  text-align: center;
  color: gray !important;
}
/* line 440, ../sass/partials/_typography.sass */
.orderSample a {
  color: #c10f1e;
  text-decoration: underline;
}
/* line 443, ../sass/partials/_typography.sass */
.orderSample a:hover {
  color: #f14554;
}

/* line 447, ../sass/partials/_typography.sass */
.result h2 {
  text-align: left;
  border: none;
  margin-bottom: 15px;
}

/* line 1, ../sass/partials/_tiles.sass */
.tile {
  width: 100%;
  min-height: 150px;
  padding: 65px 0px 65px 0px;
  background-color: white;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}

/* line 11, ../sass/partials/_tiles.sass */
.hero {
  background-color: #e2e2e2;
  padding-top: 75px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0px -5px 30px 8px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px -5px 30px 8px rgba(0, 0, 0, 0.3);
}

/* line 18, ../sass/partials/_tiles.sass */
.shadowpanel {
  background-image: url("../images/shadowpanel.jpg");
  min-height: 421px;
}

/* line 22, ../sass/partials/_tiles.sass */
.bg1 {
  background-image: url("../images/wood.jpg");
  box-shadow: 0px 0px 25px 20px rgba(0, 0, 0, 0.1);
  z-index: 10 !important;
  opacity: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* line 30, ../sass/partials/_tiles.sass */
.bg2 {
  background-image: url("../images/newspaper.jpg");
  z-index: 1;
}

/* line 34, ../sass/partials/_tiles.sass */
.bg3 {
  background-image: url("../images/jar.jpg");
  z-index: 1;
}

/* line 40, ../sass/partials/_tiles.sass */
.sliderWithInfo {
  background-size: auto;
  background-attachment: scroll;
  background-position: 0px 0px;
}

/* line 45, ../sass/partials/_tiles.sass */
.youMayAlso p {
  text-align: center;
}

/* line 49, ../sass/partials/_tiles.sass */
.noBottom {
  padding-bottom: 20px;
}

/* line 52, ../sass/partials/_tiles.sass */
.intro {
  padding: 20px 0px;
  margin-bottom: 10px;
}

/* line 1, ../sass/partials/_buttons.sass */
.button {
  background: none;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: inset 0px 0px 0px 1px white;
  box-shadow: inset 0px 0px 0px 1px white;
  outline: 1px solid #7d7c79;
  font-family: "atrament-web", Helvetica, Arial, sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  padding: 10px 70px;
  margin-top: 15px;
  font-size: 18px;
  -webkit-transition: outline 300ms ease-out;
  -moz-transition: outline 300ms ease-out;
  transition: outline 300ms ease-out;
}
/* line 21, ../sass/partials/_buttons.sass */
.button:hover {
  background-color: transparent;
  outline: 1px solid #e1e1e1;
}
/* line 25, ../sass/partials/_buttons.sass */
.button i {
  margin-left: 8px;
}

/* line 28, ../sass/partials/_buttons.sass */
.viewRetailBtn {
  padding: 10px 50px;
}
/* line 30, ../sass/partials/_buttons.sass */
.viewRetailBtn i {
  margin-left: 5px;
}

/* line 33, ../sass/partials/_buttons.sass */
.tileCTA {
  border-top: 1px solid #d3d3d1;
  border-bottom: 1px solid #d3d3d1;
  width: 100%;
  display: block;
  padding: 30px 0px;
  margin-top: 15px;
  font-family: "museo-slab", "Georgia", "Times New Roman";
  color: #292929;
  text-align: center;
  font-size: 18px;
}
/* line 43, ../sass/partials/_buttons.sass */
.tileCTA i {
  margin-left: 15px;
}
/* line 45, ../sass/partials/_buttons.sass */
.tileCTA:hover {
  color: #c10f1e;
}

/* line 1, ../sass/partials/_footer.sass */
footer {
  padding: 30px 0;
  background-color: #19150f;
}
/* line 4, ../sass/partials/_footer.sass */
footer ul {
  list-style: none;
}

/* line 8, ../sass/partials/_footer.sass */
.copyright {
  width: 100%;
  background-color: white;
  padding: 15px 0px;
}

/* line 1, ../sass/partials/_forms.sass */
form.custom .custom.checkbox.checked::before {
  content: "\2713 ";
  color: white;
  background-color: #c10f1e;
  border: 1px solid black;
  font-size: 12px;
}

/* line 8, ../sass/partials/_forms.sass */
form.custom .custom.dropdown {
  font-size: 11px;
  padding: 20px 0px;
  background: none;
}
/* line 13, ../sass/partials/_forms.sass */
form.custom .custom.dropdown .current {
  line-height: 0;
  margin-left: 15px;
  overflow: visible;
  color: #a9a9b3;
}
/* line 19, ../sass/partials/_forms.sass */
form.custom .custom.dropdown .selector {
  top: 8px;
}

/* line 22, ../sass/partials/_forms.sass */
form.custom .custom.dropdown ul {
  top: 40px;
}

/* line 27, ../sass/partials/_forms.sass */
form input[type=text]:focus, form input[type=textarea]:focus, form input[type=textarea]:active {
  -webkit-box-shadow: 0 0 5px #c10f1e;
  -moz-box-shadow: 0 0 5px #c10f1e;
  box-shadow: 0 0 5px #c10f1e;
}
/* line 31, ../sass/partials/_forms.sass */
form input[type=text] {
  font-size: 11px;
  padding: 20px;
  color: black;
}
/* line 35, ../sass/partials/_forms.sass */
form label {
  font-family: "atrament-web", Helvetica, Arial, sans-serif;
  color: black;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 18px;
}
/* line 42, ../sass/partials/_forms.sass */
form label span {
  color: #c10f1e;
  font-size: 16px;
  position: relative;
  top: -3px;
  left: 2px;
}
/* line 48, ../sass/partials/_forms.sass */
form input[type=submit] {
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: inset 0px 0px 0px 1px black;
  box-shadow: inset 0px 0px 0px 1px black;
  outline: 1px solid #7d7c79;
  color: black;
}
/* line 56, ../sass/partials/_forms.sass */
form input[type=submit]:hover {
  color: black;
}

/* line 59, ../sass/partials/_forms.sass */
.textured input[type=text]:focus, .textured input[type=textarea]:focus, .textured input[type=textarea]:active {
  -webkit-box-shadow: 0 0 5px #c10f1e;
  -moz-box-shadow: 0 0 5px #c10f1e;
  box-shadow: 0 0 5px #c10f1e;
}
/* line 63, ../sass/partials/_forms.sass */
.textured input[type=text] {
  font-size: 11px;
  padding: 20px;
  color: black;
}
/* line 67, ../sass/partials/_forms.sass */
.textured label {
  font-family: "atrament-web", Helvetica, Arial, sans-serif;
  color: white;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 18px;
}
/* line 74, ../sass/partials/_forms.sass */
.textured label span {
  color: #c10f1e;
  font-size: 14px;
  position: relative;
  top: -3px;
  left: 2px;
}
/* line 80, ../sass/partials/_forms.sass */
.textured input[type=submit] {
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: inset 0px 0px 0px 1px white;
  box-shadow: inset 0px 0px 0px 1px white;
  outline: 1px solid white;
  color: white;
}
/* line 88, ../sass/partials/_forms.sass */
.textured input[type=submit]:hover {
  color: #e6e6e6 !important;
}

/* line 92, ../sass/partials/_forms.sass */
.checkbox {
  font-family: Helvetica, Arial, sans-serif;
  text-transform: none;
  position: relative;
  top: 7px;
}

/* line 98, ../sass/partials/_forms.sass */
.custom.checkbox:hover {
  cursor: pointer;
}

/* line 102, ../sass/partials/_forms.sass */
.contact textarea {
  width: 100%;
  border: 1px solid #cccccc;
  min-height: 150px;
  vertical-align: top;
}

/* line 109, ../sass/partials/_forms.sass */
.validation {
  display: none;
  font-weight: 300 !important;
  padding: 5px !important;
  background-color: #c10f1e !important;
}

/* line 116, ../sass/partials/_forms.sass */
.error input, input.error, .error textarea, textarea.error {
  background-color: white;
  border-width: 1px;
  border-color:red;

}

/* line 116, ../sass/partials/_forms.sass */
.error .custom.dropdown{
  background-color: white;
  border-width: 1px;
  border-color:red;

}


/* line 121, ../sass/partials/_forms.sass */
.checkboxText {
  position: relative;
  top: -2px;
  left: 6px;
  color: black;
  font-size: 11px;
  font-family: "museo-slab", "Georgia", "Times New Roman";
}
/* line 129, ../sass/partials/_forms.sass */
.checkboxText a {
  color: #c10f1e;
  text-decoration: underline;
  padding-bottom: 3px;
}

/* line 134, ../sass/partials/_forms.sass */
.sort {
  margin-top: 15px;
}

/* line 137, ../sass/partials/_forms.sass */
.sort .dropdown {
  color: black;
  text-align: left;
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-transform: uppercase;
}
/* line 143, ../sass/partials/_forms.sass */
.sort .dropdown li {
  font-size: 16px !important;
}
/* line 146, ../sass/partials/_forms.sass */
.sort .dropdown .current {
  color: black !important;
  font-size: 18px !important;
  font-weight: 300;
}

/* line 151, ../sass/partials/_forms.sass */
form.custom .custom.dropdown.open.large ul li {
  text-align: left;
  padding: 10px 0px;
  font-size: 18px;
  padding-left: 10px;
}

/* line 157, ../sass/partials/_forms.sass */
form.custom .custom.dropdown.open.large ul {
  min-width: 0px;
  width: 100% !important;
}

/* line 162, ../sass/partials/_forms.sass */
.newsletter .checkboxContain {
  margin: 10px 0;
}

/* line 1, ../sass/partials/_icons.sass */
.customIcon {
  width: 27px;
  height: 27px;
}

/* line 5, ../sass/partials/_icons.sass */
.custom-icon-email {
  background-image: url(../images/icons/email-white.png);
}

/* line 8, ../sass/partials/_icons.sass */
.custom-icon-phone {
  background-image: url(../images/icons/phone-white.png);
}

/* line 11, ../sass/partials/_icons.sass */
.iconContain {
  width: 45%;
  padding-top: 15px;
}
/* line 14, ../sass/partials/_icons.sass */
.iconContain .customIcon {
  float: left;
  display: block;
  margin-right: 15px;
}
/* line 19, ../sass/partials/_icons.sass */
.iconContain span {
  float: left;
  display: block;
  color: white;
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 18px;
}

/* line 27, ../sass/partials/_icons.sass */
.textured .custom-icon-email {
  background-image: url(../images/icons/email-black.png);
}
/* line 29, ../sass/partials/_icons.sass */
.textured .custom-icon-phone {
  background-image: url(../images/icons/phone-black.png);
}
/* line 31, ../sass/partials/_icons.sass */
.textured span {
  color: #292929;
}

/* line 3, ../sass/partials/_navigation.sass */
.breadcrumbContain {
  background-color: #19150f;
}

/* line 5, ../sass/partials/_navigation.sass */
.breadcrumbs {
  margin: 0px 0px 15px 0px;
  border-radius: 0;
  border: none;
  font-family: "museo-slab", "Georgia", "Times New Roman";
  padding: 0;
  background: none;
}
/* line 13, ../sass/partials/_navigation.sass */
.breadcrumbs > ::before {
  color: white;
}
/* line 15, ../sass/partials/_navigation.sass */
.breadcrumbs a {
  color: #c10f1e;
  text-transform: none;
}
/* line 19, ../sass/partials/_navigation.sass */
.breadcrumbs .current a {
  color: white;
}

/* line 22, ../sass/partials/_navigation.sass */
.pullLeft {
  position: relative;
  left: -60px;
}

/* line 27, ../sass/partials/_navigation.sass */
header {
  background-color: #19150f;
}
/* line 30, ../sass/partials/_navigation.sass */
header nav {
  margin-top: -25px;
}
/* line 32, ../sass/partials/_navigation.sass */
header nav ul {
  display: table;
  width: 100%;
  list-style: none;
}
/* line 36, ../sass/partials/_navigation.sass */
header nav ul li {
  display: table-cell;
  text-align: center;
}
/* line 41, ../sass/partials/_navigation.sass */
header nav ul li:first-child {
  text-align: left;
}
/* line 43, ../sass/partials/_navigation.sass */
header nav ul li:last-child {
  text-align: right;
}
/* line 46, ../sass/partials/_navigation.sass */
header nav ul li:last-child .triangle {
  left: 60%;
}
/* line 49, ../sass/partials/_navigation.sass */
header nav ul li a {
  display: block;
  color: white;
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 2px;
}
/* line 58, ../sass/partials/_navigation.sass */
header nav ul li a:hover {
  color: #c10f1e;
}
/* line 61, ../sass/partials/_navigation.sass */
header nav ul li .dropdown {
  background-color: #19150f;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  width: inherit;
  z-index: 100;
  display: block;
  height: 0;
  overflow: hidden;
  -webkit-transition: opacity 300ms ease-in;
  opacity: 0;
}
/* line 75, ../sass/partials/_navigation.sass */
header nav ul li .dropdown a {
  font-size: 16px;
}
/* line 78, ../sass/partials/_navigation.sass */
header nav ul li .dropdown li {
  color: white;
  background-color: #19150f;
  display: block;
  text-align: left !important;
  list-style: none;
  width: 100%;
  padding: 10px 30px 10px 15px;
  border-top: 1px solid #262626;
  border-bottom: 1px solid black;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
  z-index: 91;
}
/* line 95, ../sass/partials/_navigation.sass */
header nav ul li .dropdown li:hover {
  background-color: #1a1a1a;
}
/* line 98, ../sass/partials/_navigation.sass */
header nav ul img {
  position: relative;
  top: -20px;
}

/* line 102, ../sass/partials/_navigation.sass */
header nav li:hover ul.dropdown {
  display: block;
  opacity: 1;
  height: auto;
}

/* line 107, ../sass/partials/_navigation.sass */
.viewRetailLink {
  display: none;
}

/* line 110, ../sass/partials/_navigation.sass */
.search {
  position: relative;
  top: 15px;
}

/* line 115, ../sass/partials/_navigation.sass */
.topLink .icon-angle-down {
  display: none;
}

/* line 118, ../sass/partials/_navigation.sass */
.triangle {
  border-left: 6px solid #262626;
  border-top: 6px solid #262626;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative;
  top: 6px;
  left: 20%;
  z-index: 90;
}

/* line 131, ../sass/partials/_navigation.sass */
.icon-rotate {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

/* line 136, ../sass/partials/_navigation.sass */
input[type=search] {
  background: none;
/*  background-image: url("../images/search-bg.png");*/
  background-repeat: no-repeat;
  background-position: right 11px;
  border: 1px solid white;
  box-shadow: none;
  color: white;
  font-size: 12px;
  padding: 19px;
}

.style-btn img {
    position: absolute;
    left: 77%;
    margin-top: -35px;
    cursor: pointer;
    padding: 10px;
}

/* line 147, ../sass/partials/_navigation.sass */
input[type=search]:focus {
  background: none;
  background-image: url("../images/search-bg.png");
  background-repeat: no-repeat;
  background-position: right 11px;
}

/* line 155, ../sass/partials/_navigation.sass */
.nav-toggle {
  border: 1px solid #666666;
  padding: 10px;
  font-family: "museo-slab", "Georgia", "Times New Roman";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 25px;
  right: 15px;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: inset 0px 0px 0px 1px white;
  box-shadow: inset 0px 0px 0px 1px white;
  outline: 1px solid #7d7c79;
}
/* line 174, ../sass/partials/_navigation.sass */
.nav-toggle:after {
  font-family: FontAwesome;
  content: "\f0c9";
  margin-left: 5px;
}
/* line 179, ../sass/partials/_navigation.sass */
.nav-toggle:hover {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: inset 0px 0px 0px 1px white;
  box-shadow: inset 0px 0px 0px 1px white;
  outline: 1px solid #7d7c79;
}

/* line 188, ../sass/partials/_navigation.sass */
.opened {
  margin-top: 15px;
  border-top: 1px solid #666666;
}

/* line 192, ../sass/partials/_navigation.sass */
.topNav {
  margin-bottom: 0;
}

/* line 195, ../sass/partials/_navigation.sass */
.pagination {
  margin: 0px 0px 50px 0px;
  padding-top: 10px;
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-transform: uppercase;
  color: black;
  font-size: 20px;
}

/* line 203, ../sass/partials/_navigation.sass */
.pagination li a {
  color: black;
  font-weight: 300 !important;
}

/* line 207, ../sass/partials/_navigation.sass */
.pagination li.current a, .pagination li a:hover, .pagination li.current a:hover {
  background: none;
  color: #c10f1e;
}

/* line 1, ../sass/partials/_tiles.sass */
.tile {
  width: 100%;
  min-height: 150px;
  padding: 65px 0px 65px 0px;
  background-color: white;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}

/* line 11, ../sass/partials/_tiles.sass */
.hero {
  background-color: #e2e2e2;
  padding-top: 75px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0px -5px 30px 8px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px -5px 30px 8px rgba(0, 0, 0, 0.3);
}

/* line 18, ../sass/partials/_tiles.sass */
.shadowpanel {
  background-image: url("../images/shadowpanel.jpg");
  min-height: 421px;
}

/* line 22, ../sass/partials/_tiles.sass */
.bg1 {
  background-image: url("../images/wood.jpg");
  box-shadow: 0px 0px 25px 20px rgba(0, 0, 0, 0.1);
  z-index: 10 !important;
  opacity: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* line 30, ../sass/partials/_tiles.sass */
.bg2 {
  background-image: url("../images/newspaper.jpg");
  z-index: 1;
}

/* line 34, ../sass/partials/_tiles.sass */
.bg3 {
  background-image: url("../images/jar.jpg");
  z-index: 1;
}

/* line 40, ../sass/partials/_tiles.sass */
.sliderWithInfo {
  background-size: auto;
  background-attachment: scroll;
  background-position: 0px 0px;
}

/* line 45, ../sass/partials/_tiles.sass */
.youMayAlso p {
  text-align: center;
}

/* line 49, ../sass/partials/_tiles.sass */
.noBottom {
  padding-bottom: 20px;
}

/* line 52, ../sass/partials/_tiles.sass */
.intro {
  padding: 20px 0px;
  margin-bottom: 10px;
}

/* line 2, ../sass/partials/_images.sass */
.textured .contentImage, .textured .videoContainer {
  border: 6px solid white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
}
/* line 6, ../sass/partials/_images.sass */
.textured .slideImg {
  border: 6px solid white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
  margin-top: 15px;
}

/* line 13, ../sass/partials/_images.sass */
.littleLogo {
  display: none;
  margin-top: 10px;
}

/* line 18, ../sass/partials/_images.sass */
.products {
  padding-bottom: 15px;
  margin-bottom: 10px;
}
/* line 21, ../sass/partials/_images.sass */
.products li:hover {
  cursor: pointer;
}
/* line 23, ../sass/partials/_images.sass */
.products li:hover h4 {
  color: #c10f1e;
}

.recipes {
  padding-bottom: 15px;
  margin-bottom: 10px;
}
/* line 21, ../sass/partials/_images.sass */
.recipes li:hover {
  cursor: pointer;
}
/* line 23, ../sass/partials/_images.sass */
.recipes li:hover h4 {
  color: #c10f1e;
}

/* line 27, ../sass/partials/_images.sass */
.circleProducts ul {
  list-style: none;
}
/* line 30, ../sass/partials/_images.sass */
.circleProducts li {
  display: inline;
  margin-bottom: 15px;
}
/* line 34, ../sass/partials/_images.sass */
.circleProducts .circle {
  width: 185px;
  height: 185px;
  position: relative;
  background-image: url("../images/circle.png");
}
/* line 39, ../sass/partials/_images.sass */
.circleProducts .circle-small {
  width: 85px;
  height: 85px;
  position: relative;
  background-image: url("../images/circle-sm.png");
}
/* line 44, ../sass/partials/_images.sass */
.circleProducts .circle-small img {
  margin: 0 auto;
}
/* line 46, ../sass/partials/_images.sass */
.circleProducts .circle-small span {
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 22px;
}
/* line 50, ../sass/partials/_images.sass */
.circleProducts .circle-small .number, .circleProducts .circle-small .metric {
  display: block;
}
/* line 52, ../sass/partials/_images.sass */
.circleProducts .circle-small .number {
  position: relative;
  top: 11px;
}
/* line 55, ../sass/partials/_images.sass */
.circleProducts .circle-small .metric {
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
  top: 5px;
}
/* line 60, ../sass/partials/_images.sass */
.circleProducts .new {
  width: 50px;
  height: 50px;
  background-color: #c10f1e;
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
}
/* line 69, ../sass/partials/_images.sass */
.circleProducts .new span {
  color: white;
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-transform: uppercase;
  position: relative;
  font-size: 20px;
  top: 8px;
}

/* line 78, ../sass/partials/_images.sass */
.iconInfo img {
  position: relative;
  left: 10px;
}
/* line 81, ../sass/partials/_images.sass */
.iconInfo li {
  margin-top: 15px;
}
/* line 83, ../sass/partials/_images.sass */
.iconInfo .download {
  color: #c10f1e;
  font-size: 12px;
  font-family: "museo-slab", "Georgia", "Times New Roman";
}
/* line 87, ../sass/partials/_images.sass */
.iconInfo .download i {
  color: #292929;
}
/* line 90, ../sass/partials/_images.sass */
.iconInfo h5 {
  font-size: 16px;
  margin: 0;
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

/* line 95, ../sass/partials/_images.sass */
.productStats {
  width: 100% !important;
}
/* line 97, ../sass/partials/_images.sass */
.productStats li {
  float: left;
  clear: left;
}
/* line 100, ../sass/partials/_images.sass */
.productStats li img {
  float: left;
  margin-right: 5px;
}

/* line 107, ../sass/partials/_images.sass */
.floatR {
  float: right !important;
}

/* line 110, ../sass/partials/_images.sass */
.orDivider {
  display: block;
}

/* line 114, ../sass/partials/_images.sass */
.orbit li {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 575px;
  padding-top: 110px;
}
/* line 120, ../sass/partials/_images.sass */
.orbit .button {
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 123, ../sass/partials/_images.sass */
.orbit-slide-number {
  display: none;
}

/* line 126, ../sass/partials/_images.sass */
.orbit-bullets {
  position: absolute;
  left: 47%;
  top: 45%;
}

/* line 131, ../sass/partials/_images.sass */
.orbit-bullets li.active {
  background-color: #c10f1e;
  border-color: white;
  border-width: 1px;
}

/* line 136, ../sass/partials/_images.sass */
.orbit-bullets li {
  background-color: transparent;
  border-color: white;
  border-width: 1px;
  width: 12px;
  height: 12px;
  margin: 5px;
  cursor: pointer;
}

/* line 145, ../sass/partials/_images.sass */
.orbit-bullets {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 5, ../sass/partials/_widgets.sass */
.closeInfo {
  color: white;
  font-size: 24px;
  float: right;
  font-weight: 100;
  padding: 13px;
  cursor: pointer;
}
/* line 12, ../sass/partials/_widgets.sass */
.closeInfo:hover {
  color: #bfbfbf;
}

/* line 15, ../sass/partials/_widgets.sass */
.item {
  padding: 15px;
}
/* line 18, ../sass/partials/_widgets.sass */
.item img:hover {
  opacity: 0.9;
}

/* line 21, ../sass/partials/_widgets.sass */
.customSort {
  position: absolute !important;
  left: -15px;
  top: 0px !important;
}

/* line 26, ../sass/partials/_widgets.sass */
.itemInfo {
  display: none;
  background-color: #53514e;
  position: relative;
  top: -65px;
  z-index: 1;
  -webkit-border-radius: 0px 3px 3px 3px;
  border-radius: 0px 3px 3px 3px;
}

/* line 34, ../sass/partials/_widgets.sass */
.itemInfoContent {
  padding: 50px 100px;
}

/* line 36, ../sass/partials/_widgets.sass */
.selectedItem {
  border: 15px solid #53514e;
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  padding: 0px;
}

/* line 41, ../sass/partials/_widgets.sass */
.activeFilters, .reset {
  display: none;
}

/* line 45, ../sass/partials/_widgets.sass */
.activeFilters li label {
  margin: 0;
  background-color: #f8f8f8;
  padding: 2px 10px;
}

/* line 52, ../sass/partials/_widgets.sass */
.filtersList label span {
  color: black !important;
  font-size: 18px !important;
}

/* line 59, ../sass/partials/_widgets.sass */
.resetBtn {
  color: white;
  background-color: #53514e;
  padding: 10px 43px;
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-transform: uppercase;
  outline: none;
  font-size: 18px;
  border: none;
  position: relative;
  top: 10px;
  float: right;
}
/* line 71, ../sass/partials/_widgets.sass */
.resetBtn:hover {
  border: none;
  outline: none;
  color: white;
  background-color: #393735;
}
/* line 76, ../sass/partials/_widgets.sass */
.resetBtn:active {
  border: none;
  outline: none;
}

/* line 80, ../sass/partials/_widgets.sass */
.activeFilters {
  position: relative;
  top: 13px;
}

/* line 85, ../sass/partials/_widgets.sass */
.filtersInner form {
  padding: 0;
  margin: 0 0 0 0 !important;
}

/* line 92, ../sass/partials/_widgets.sass */
.textured .itemInfo {
  background-color: white;
}
/* line 94, ../sass/partials/_widgets.sass */
.textured .itemInfo h3 {
  color: #c10f1e;
}
/* line 97, ../sass/partials/_widgets.sass */
.textured .itemInfo h4, .textured .itemInfo p {
  color: #292929;
  text-shadow: none;
}
/* line 101, ../sass/partials/_widgets.sass */
.textured .itemInfo .closeInfo {
  color: #c10f1e;
}
/* line 104, ../sass/partials/_widgets.sass */
.textured .selectedItem {
  border-color: white;
}
/* line 108, ../sass/partials/_widgets.sass */
.textured .item img {
  border: 5px solid white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
}
/* line 111, ../sass/partials/_widgets.sass */
.textured .item img:hover {
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  opacity: 1;
}

/* line 116, ../sass/partials/_widgets.sass */
.noBG {
  background: none;
}

/* line 120, ../sass/partials/_widgets.sass */
.products {
  padding-top: 20px;
}

.recipes {
  padding-top: 20px;
}

/* line 122, ../sass/partials/_widgets.sass */
[data-magellan-expedition] {
  padding: 0px;
  padding-top: 0px;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
}

/* line 129, ../sass/partials/_widgets.sass */
.filterText {
  position: relative;
  margin-top: 8px;
  left: -10px;
  line-height: 1em;
  display: block;
  width: 60px;
  float: right;
}

/* line 139, ../sass/partials/_widgets.sass */
.activeFilters .filterText {
  left: -60px;
}

/* line 133, ../sass/partials/_widgets.sass */
.sortRange {
  background: white !important;
  margin-top: 5px !important;
  position: absolute !important;
  left: 0;
}
/* line 138, ../sass/partials/_widgets.sass */
.sortRange ul {
  top: 40px !important;
}

/* line 142, ../sass/partials/_widgets.sass */
.filters {
  border-top: 1px solid #d2d2d1;
  border-bottom: 1px solid #d2d2d1;
  height: auto;
  display: block;
}
/* line 147, ../sass/partials/_widgets.sass */
.filters .filtersList {
  list-style: none;
}
/* line 149, ../sass/partials/_widgets.sass */
.filters .filtersList li {
  margin-bottom: 0px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
/* line 154, ../sass/partials/_widgets.sass */
.filters .checkbox {
  margin-right: 10px;
}

/* line 156, ../sass/partials/_widgets.sass */
.filterTrigger {
  text-align: right;
}
/* line 158, ../sass/partials/_widgets.sass */
.filterTrigger .button {
  margin-bottom: 0;
  border: none;
  box-shadow: none;
}
/* line 162, ../sass/partials/_widgets.sass */
.filterTrigger a {
  color: white;
  background-color: #c10f1e;
  padding: 15px 60px;
  font-family: "atrament-web", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-transform: uppercase;
  font-size: 20px;
  outline: none;
  border: none;
}
/* line 171, ../sass/partials/_widgets.sass */
.filterTrigger a:hover {
  border: none;
  outline: none;
  background-color: #920b17;
}
/* line 175, ../sass/partials/_widgets.sass */
.filterTrigger a:active {
  border: none;
  outline: none;
}

/* line 178, ../sass/partials/_widgets.sass */
.filtersInner {
  padding: 20px 0px;
}
/* line 180, ../sass/partials/_widgets.sass */
.filtersInner h5 {
  color: black;
  padding-bottom: 4px;
  border-bottom: 1px solid #d2d2d1;
}

/* line 185, ../sass/partials/_widgets.sass */
.filtersInner {
  display: none;
}

/* line 190, ../sass/partials/_widgets.sass */
.slideZoom {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 45px !important;
  height: 45px;
}

/* line 200, ../sass/partials/_widgets.sass */
.actionsContainer {
  width: 28%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  bottom: -65px;
}
/* line 206, ../sass/partials/_widgets.sass */
.actionsContainer i {
  display: block !important;
  margin-bottom: 5px;
}
/* line 209, ../sass/partials/_widgets.sass */
.actionsContainer ul {
  list-style: none;
  display: table;
  width: 100%;
  margin: 0;
}
/* line 214, ../sass/partials/_widgets.sass */
.actionsContainer ul li {
  display: table-cell;
  text-align: center;
  color: white;
  font-family: "museo-slab", "Georgia", "Times New Roman";
  width: 100px;
  padding: 10px;
}
/* line 222, ../sass/partials/_widgets.sass */
.actionsContainer ul li a {
  color: white;
  font-size: 14px;
}
/* line 226, ../sass/partials/_widgets.sass */
.actionsContainer ul li a:hover {
  color: #c10f1e;
}

/* line 231, ../sass/partials/_widgets.sass */
.internationalMap {
  position: relative;
  top: 60px;
  background-image: url("../images/international.png");
  width: 329px;
  height: 166px;
  background-position: 0 0;
  -webkit-transition: none;
  transition: none;
}
/* line 241, ../sass/partials/_widgets.sass */
.internationalMap:hover {
  background-position: 0 166px;
  cursor: pointer;
}

/* line 246, ../sass/partials/_widgets.sass */
.orbit-timer {
  display: none;
}

/* line 253, ../sass/partials/_widgets.sass */
.recipeIntro .bjqs-controls {
  position: relative;
  top: -180px;
}
/* line 257, ../sass/partials/_widgets.sass */
.recipeIntro .bjqs-markers {
  margin-top: 15px;
}

/* line 260, ../sass/partials/_widgets.sass */
.bjqs-controls {
  position: relative;
  top: -340px;
}
/* line 264, ../sass/partials/_widgets.sass */
.bjqs-controls a {
  color: white;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
}

/* line 270, ../sass/partials/_widgets.sass */
.bjqs-next {
  position: relative;
  right: 15px;
}
/* line 274, ../sass/partials/_widgets.sass */
.bjqs-next a:hover {
  color: #c10f1e;
}

/* line 277, ../sass/partials/_widgets.sass */
.bjqs-prev {
  position: relative;
  left: 15px;
}
/* line 281, ../sass/partials/_widgets.sass */
.bjqs-prev a:hover {
  color: #c10f1e;
}

/* line 286, ../sass/partials/_widgets.sass */
.bjqs-markers li a {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
  margin: 5px;
  width: 12px;
  height: 12px;
  display: block;
  text-indent: -9999px;
  border-radius: 50%;
}
/* line 296, ../sass/partials/_widgets.sass */
.bjqs-markers .active-marker a {
  background-color: #c10f1e;
}

/* line 300, ../sass/partials/_widgets.sass */
.copyWithCarousel .bjqs-controls {
  position: relative;
  top: -180px;
}
/* line 303, ../sass/partials/_widgets.sass */
.copyWithCarousel .bjqs-markers {
  margin-top: 15px;
}

/* line 307, ../sass/partials/_widgets.sass */
.filterSearch input[type=search] {
  border: 1px solid #cccccc;
  color: black;
  background: none;
  background-image: url("../images/search-bg-dark.png");
  background-repeat: no-repeat;
  background-position: right 11px;
  float: right;
}

/* line 317, ../sass/partials/_widgets.sass */
.actionsContainer.newsletter {
  position: static;
  display: block;
  width: auto;
  color: black;
  background: none;
}
/* line 323, ../sass/partials/_widgets.sass */
.actionsContainer.newsletter ul {
  display: inline;
}
/* line 325, ../sass/partials/_widgets.sass */
.actionsContainer.newsletter li {
  width: auto;
  padding: 0;
  padding-right: 25px;
}
/* line 329, ../sass/partials/_widgets.sass */
.actionsContainer.newsletter li a {
  color: black;
}

/* line 335, ../sass/partials/_widgets.sass */
.loading {
  display: none;
  position: absolute;
  top: 0;
  left: 48%;
  top: 120%;
  z-index: 9999;
}
/* line 343, ../sass/partials/_widgets.sass */
.loading img {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: white;
  border-radius: 400px;
  padding: 5px;
  box-sizing: border-box;
}

/* line 352, ../sass/partials/_widgets.sass */
.transparent {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* line 358, ../sass/partials/_widgets.sass */
#privacy, #collection {
  display: none;
}

/* line 363, ../sass/partials/_widgets.sass */
.doubleCta .button, .youMayAlso .button {
  color: black;
  border: 1px solid white !important;
  outline: 1px solid black;
  box-shadow: inset 0px 0px 0px 1px #d3d3d1;
}
/* line 368, ../sass/partials/_widgets.sass */
.doubleCta .button:hover, .youMayAlso .button:hover {
  box-shadow: inset 0px 0px 1px black !important;
  outline: 1px solid #d3d3d1;
}

/* line 384, ../sass/partials/_widgets.sass */
.textured .button {
  color: white;
}

/* line 4, ../sass/partials/_lists.sass */
.stepList ul li {
  counter-increment: step-counter;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
/* line 10, ../sass/partials/_lists.sass */
.stepList ul li:last-child {
  border-bottom: none;
}
/* line 13, ../sass/partials/_lists.sass */
.stepList ul .stepTitle {
  display: block;
  height: 100%;
  text-align: center;
}
/* line 18, ../sass/partials/_lists.sass */
.stepList ul .stepTitle:after {
  content: counter(step-counter);
  font-size: 34px;
}
/* line 21, ../sass/partials/_lists.sass */
.stepList ul li {
  list-style: none;
}
/* line 23, ../sass/partials/_lists.sass */
.stepList ul li p {
  display: inline;
}

/* line 27, ../sass/partials/_lists.sass */
.newsletters {
  list-style: none;
}

.noData {
    font-size: 16px;
    font-family: "museo-slab", "Georgia", "Times New Roman";
    font-weight: 500;
}

.productImage {
    height:302px;
    width:227px;
}

/* line 4, ../sass/style.sass */
body {
  background-color: white;
  counter-reset: "Step" step-counter;
}


/*     */
 .thank-you-border-bottom { 
                        border-bottom: 1px solid #d9d9d9;
                        margin: 10px;
                    }

                    .thank-you-message-header {
                        text-align: center;
                        /*font-family: "museo-slab";*/
                        font-size: 24px;
                        color: #414141;
                        font-weight: 600;
                    }

                    .thank-you-message {
                        text-align: center;
                        /*font-family: "museo-slab";*/
                        font-size: 18px;
                        color: #414141;
                    }

/*Bug Fixes Start*/

.textured p, p { 
    word-wrap: break-word;
}
 
/*Bug Fixes End*/